<div class="container">
  <h2 class="page-title">
    <i class="fa fa-bars"></i> Proyectos pendientes
  </h2>
  <div class="card">
    <div class="card-body">

      <div class="crud-table" ng-table="$ctrl.tableParams" ng-table-columns-binding="columnas">
        <table class="table table-striped table-hover ng-table table-responsive">
          <tr ng-repeat="proyecto in $data track by proyecto.id_proyecto">
            <td data-title="'Acciones'">
              <button md-effect type="button" class="btn btn-{{acciones.md}} btn-sm" ng-repeat="acciones in $ctrl.config.acciones"
                uib-tooltip="{{acciones.tooltip}}" ng-click="acciones.metodo(proyecto)" ng-if="$ctrl.puedeProcesarProyecto(proyecto)">
                <i class="fa fa-{{acciones.icon}}"></i>
              </button>

              <button md-effect type="button" class="btn btn-{{acciones.md}} btn-sm mt-1" ng-repeat="acciones in $ctrl.configSupervisiones.acciones"
                uib-tooltip="{{acciones.tooltip}}" ng-click="acciones.metodo(proyecto)"
                ng-if="proyecto.estado_proyecto === 'APROBADO_FDI' && proyecto.supervisiones && proyecto.supervisiones.length > 0 && (acciones.condicion ? acciones.condicion(proyecto) : true)">
                <i class="fa fa-{{acciones.icon}}"></i>
              </button>

              <button md-effect type="button" class="btn btn-success btn-sm mt-1"
                ng-click="$ctrl.nuevaPlanilla(proyecto)" uib-tooltip="Crear Planilla"
                ng-if="(proyecto.estado_proyecto === 'APROBADO_FDI' || proyecto.estado_proyecto === 'EN_EJECUCION_FDI') && $ctrl.Usuarios.esSupervisor() && $ctrl.puedeCrearPlanilla(proyecto)">
                <i class="fa fa-plus"></i>
              </button>

              <button md-effect type="button" class="btn btn-success btn-sm mt-1"
                ng-click="$ctrl.irAModificaciones(proyecto)" uib-tooltip="Modificaciones"
                ng-if="(proyecto.estado_proyecto === 'EN_EJECUCION_FDI') && $ctrl.puedeVerModificaciones(proyecto)">
                <i class="fa fa-medium"></i>
              </button>

              <button md-effect type="button" class="btn btn-success btn-sm mt-1" ng-if="$ctrl.puedeVerConsolidado(proyecto)" uib-tooltip="Planilla Consolidada" download-file="{{$ctrl.urlPlanillaConsolidada(proyecto)}}" file-name="Planilla Consolidada">
                <i class="fa fa-list-alt"></i>
              </button>

              <lista-supervisiones proyecto="proyecto" ng-if="$ctrl.puedeVerSupervision(proyecto)"></lista-supervisiones>

              <!--lista-modificaciones proyecto="proyecto" ng-if="$ctrl.puedeVerModificacion(proyecto)"></lista-modificaciones-->
            </td>
            <td data-title="'Código'" filter="{nro_convenio: 'text'}" sortable="'nro_convenio'">{{proyecto.nro_convenio}}</td>
            <!-- <td data-title="'Referencia'" filter="{'formulario.beneficiarios.form_model': 'text'}" sortable="'formulario.beneficiarios.form_model'">{{proyecto.beneficiarios.referencia}}</td> -->
            <td data-title="'Referencia'">{{proyecto.beneficiarios.referencia}}</td>
            <td data-title="'Nombre'" filter="{'nombre': 'text'}" sortable="'nombre'">{{proyecto.nombre}}</td>
            <!-- <td data-title="'Tipo'" filter="{tipo: 'text'}" sortable="'tipo'">{{proyecto.tipo_proyecto.nombre}}</td> -->
            <td data-title="'Monto total'" filter="{monto_total: 'text'}" sortable="'monto_total'">{{proyecto.monto_total | formatDecimal}}</td>
            <!-- <td data-title="'Municipio'" filter="{'municipio.nombre': 'text'}" sortable="'municipio.nombre'">{{proyecto.dpa.municipio.nombre}}</td> -->
            <td data-title="'Municipio'" filter="{'municipio.nombre': 'text'}">{{proyecto.dpa.municipio.nombre}}</td>
            <td data-title="'Plazo ejecución'" filter="{plazo_ejecucion: 'text'}" sortable="'plazo_ejecucion'">{{proyecto.plazo_ejecucion | formatDecimal}}</td>
            <td data-title="'Estado Proyecto'" filter="{estado_proyecto: 'text'}" sortable="'estado_proyecto'">
              {{proyecto.estado_actual.nombre}} <br>
              <span ng-if="proyecto.observacion.mensaje" class="text-danger"> {{ proyecto.observacion.mensaje }} </span>
            </td>
            <td data-title="'Estado Supervisión'" filter="{'supervisiones.estado_actual.nombre': 'text'}" sortable="'supervisiones.estado_actual.nombre'">
              <div ng-repeat="supervision in proyecto.supervisiones">
                <div ng-if="supervision.estado_actual.codigo!=='EN_ARCHIVO_FDI'">
                  <strong class="resaltado">PLANILLA: {{supervision.nro_supervision}}</strong><br>
                  <strong>{{supervision.adjudicacion.referencia}}</strong><br>
                  {{supervision.estado_actual.nombre}} <br>
                  <span ng-if="supervision.observacion_proceso.mensaje" class="text-danger"> {{ supervision.observacion_proceso.mensaje }} </span>
                </div>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
