<div class="modal-header">
  <h5 class="modal-title"><i class="fa fa-bell"></i> Confirmación previa a la generación de formularios</h5>
  <button type="button" class="close" data-dismiss="modal" ng-click="$ctrl.cerrar()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>¿Está seguro/a de proceder con la generación de los formularios?. Este procedimiento se realiza por única vez, sin opción a modificaciones posteriores.</p>

  <p>
    Se le recuerda que el monto total del proyecto (definido en su presupuesto) es <strong>{{$ctrl.proyecto.monto_total | formatDecimal}}</strong>
    (<strong><em>{{$ctrl.proyecto.monto_total | numberToLiteral}}</em></strong>)
  </p>

  <div class="alert alert-info">
    <i class="fa fa-info-circle"></i>
    <span>Ingrese el <strong>número de días de la propuesta</strong>, tome en cuenta que <strong>no debe sobrepasar</strong> al plazo de ejecución definido en el convenio que son
      <strong>{{$ctrl.proyecto.plazo_ejecucion_convenio}} días</strong>.</span>
  </div>

  <ng-form name="formPlazo">
    <div class="row">
      <div class="col-md-12">
        <c-input-numeric name="plazo_ejecucion" label="Plazo de validez (en días calendario)"
                         ng-model="$ctrl.proyecto.plazo_ejecucion"
                         ng-decimals="0" ng-minvalue="1" ng-maxvalue="{{$ctrl.proyecto.plazo_ejecucion_convenio}}"
                         ng-required="true">
        </c-input-numeric>
      </div>
    </div>
  </ng-form>

  <small><em>NOTA.- El plazo de ejecución define el tiempo de duración del proyecto.</em></small>
</div>
<div class="modal-footer">
  <button type="button" md-effect class="btn btn-secondary" ng-click="$ctrl.cerrar()">
    <i class="fa fa-close"></i> Cancelar
  </button>
  <button type="submit" md-effect class="btn btn-primary" validar-formulario="formPlazo" ng-click="$ctrl.aceptar()">
    <i class="fa fa-check"></i> Si, estoy seguro/a
  </button>
</div>
