<span ng-if="$ctrl.puedeAcceder()">
  <button md-effect type="button" class="btn btn-secondary btn-actions" ng-click="$ctrl.cancelar()" ng-if="$ctrl.opcionCancelar">
    <i class="fa fa-close"></i> Cancelar
  </button>
  <span ng-repeat="accion in $ctrl.elemento.estado_actual.acciones" ng-if="accion.tipo === 'boton'">
    <button md-effect type="button"
      class="btn btn-actions c-pointer {{accion.class}}"
      validar-formulario="accion.observacion? false : $ctrl.form"
      validacion-paralela="$ctrl.validacionParalela({accion})"
      ng-click="$ctrl.ejecutarAccion(accion)">
      <i class="fa {{accion.icon}}"></i> {{accion.label}}
    </button>
  </span>
</span>

<button mf-effect type="button"
  class="btn btn-actions c-pointer btn-primary"
  ui-sref="proyectos-registrados"
  ng-if="!$ctrl.elemento.estado_actual.acciones || $ctrl.elemento.estado_actual.acciones.length === 0">
  <i class="fa fa-check"></i> Aceptar
</button>
