<div class="modal-header">
  <h5 class="modal-title"><i class="fa fa-rotate-left"></i> Observando</h5>
  <button type="button" class="close" data-dismiss="modal" ng-click="$ctrl.cerrar()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>¿Está seguro/a de observar el proceso y devolverlo al estado anterior?</p>

  <ng-form name="formObservacion">
    <div class="row">
      <div class="col-md-12">
        <c-textarea name="observacion" label="Detalle de la observación"
          ng-model="$ctrl.data.observacion"
          ng-minlength="10" maxlength="255"
          ng-required="true"></c-textarea>
      </div>
    </div>
  </ng-form>

  <small><em>NOTA.- Debe registrar el detalle de la observación.</em></small>
</div>
<div class="modal-footer">
  <button type="button" md-effect class="btn btn-secondary" ng-click="$ctrl.cerrar()">
    <i class="fa fa-close"></i> Cancelar
  </button>
  <button type="submit" md-effect class="btn btn-primary" validar-formulario="formObservacion" ng-click="$ctrl.observar()">
    <i class="fa fa-check"></i> Observar
  </button>
</div>
