<div ng-repeat="asociado in $ctrl.integrantes.asociados">
  <div class="row">
    <section class="col-md-12">
      <h6 class="title-section m-top"><i class="fa fa-user-o"></i> Datos del Asociado #{{$index+1}}</h6>
    </section>
    <div class="md-input-group col-md-12">
      <c-input name="razon_social" label="Nombre del proponente o razón social" ng-model="asociado.razon_social"
      ng-disabled="true"></c-input>
    </div>
    <div class="md-input-group col-md-4">
      <c-input name="nit" label="NIT" ng-model="asociado.nit"
      ng-disabled="true"></c-input>
    </div>
    <div class="md-input-group col-md-4">
      <c-input name="matricula_comercio" label="Nro. Matrícula de Comercio" ng-model="asociado.nro_matricula"
      ng-disabled="true"></c-input>
    </div>
    <div class="md-input-group col-md-4">
      <c-date name="fecha_inscripcion_empresa" label="Fecha de inscripción" ng-model="asociado.fecha_inscripcion"
      ng-disabled="true"></c-date>
    </div>
  </div>
  <div class="row" ng-if="!asociado.representante_legal || !asociado.representante_legal.persona">
    <div class="col-md-12">
      <div class="alert alert-info">
        <i class="fa fa-info-circle"></i> El asociado es una <strong>Empresa Unipersonal</strong> y éste no acredita un Representante Legal.
      </div>
    </div>
  </div>
  <div class="row" ng-if="asociado.representante_legal && asociado.representante_legal.persona">
    <section class="col-md-12">
      <h6 class="m-top"><i class="fa fa-user-o"></i> Representante Legal</h6>
    </section>
    <div class="md-input-group col-md-8">
      <c-input name="representante_legal" label="Nombre" ng-model="asociado.representante_legal.persona.nombre"
      ng-disabled="true"></c-input>
    </div>
    <div class="md-input-group col-md-4">
      <c-input name="ci_representante_legal" label="Nro Cédula de Identidad" ng-model="asociado.representante_legal.persona.documento_identidad"
      ng-disabled="true"></c-input>
    </div>
    <div class="md-input-group col-md-4">
      <c-input name="nro_testimonio" label="Nro. de testimonio" ng-model="asociado.representante_legal.poder.nro_testimonio"
      ng-disabled="true"></c-input>
    </div>
    <div class="md-input-group col-md-4">
      <c-input name="lugar_emision" label="Lugar de emisión" ng-model="asociado.representante_legal.poder.lugar_emision"
      ng-disabled="true"></c-input>
    </div>
    <div class="md-input-group col-md-4">
      <c-date name="fecha_expedicion" label="Fecha de expedición" ng-model="asociado.representante_legal.poder.fecha_expedicion"
      ng-disabled="true"></c-date>
    </div>
  </div>
</div>
