.breadcrumb {
    padding-left: 30px;
    background-color: transparent;

    &-item {
        font-size: .9rem;
        a {
            font-size: .9rem;
            color: #777;

            &:hover {
                color: #777;
            }
        }

        & + &::before {
            padding-right: .8rem;
            padding-left: .8rem;
            color: #6e7579;
            font-size: .7rem;
        }
    }

}
@media screen and (max-width: 480px) {
  .breadcrumb {
    padding-left: 5px;
  }
}