<div class="modal-header">
  <h5 class="modal-title"><i class="fa fa-plus-circle"></i> Ubicaciones</h5>
  <button type="button" class="close" data-dismiss="modal" ng-click="$ctrl.cerrar()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row mb-3">
    <div class="col">
      <leaflet lf-center="$ctrl.mapa.centro" controles="$ctrl.mapa.controls" height="400px" width="100%" markers="$ctrl.mapa.marcadores"></leaflet>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button type="submit" md-effect class="btn btn-primary" ng-click="$ctrl.cerrar()">
    <i class="fa fa-check"></i> Aceptar
  </button>
</div>
