<div class="container">
  <h2 class="page-title">
    <i class="fa fa-bars"></i> Proyecto
  </h2>
  <div class="card">
    <div class="card-header">
      DATOS
    </div>
    <div class="card-body table-responsive">
      <div class="row">
        <div class="col-md-6">
          <table class="table table-striped">
            <tr>
              <th>Nombre:</th>
              <td>{{$ctrl.proyecto.nombre}}</td>
            </tr>
            <tr>
              <th>Nro Convenio:</th>
              <td>{{$ctrl.proyecto.nro_convenio}} <button-cambiar-codigo proyecto="$ctrl.proyecto"></button-cambiar-codigo></td>
            </tr>
            <tr>
              <th>Departamento:</th>
              <td>{{$ctrl.proyecto.municipio.provincia.departamento.nombre}}</td>
            </tr>
            <tr>
              <th>Estado Proyecto:</th>
              <td>{{$ctrl.proyecto.estado_proyecto}}</td>
            </tr>
            <tr>
              <th>Estado:</th>
              <td><button-estado proyecto="$ctrl.proyecto"></button-estado></td>
            </tr>
            <tr>
              <th>Registro de cambios</th>
              <td><button-timeline proyecto="$ctrl.proyecto"></button-timeline></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      USUARIOS ASIGNADOS
    </div>
    <div class="card-body table-responsive">
      <table class="table table-striped">
        <tr>
          <th>Observación</th>
          <th>Usuario Asignado</th>
          <th>Opciones</th>
        </tr>
        <tr ng-repeat="transicion in $ctrl.proyecto.transicion">
          <td>{{transicion.tipo}}
            <br>{{transicion.observacion}}
          </td>
          <td>{{transicion.usuario_asignado.persona.nombres}}
            {{transicion.usuario_asignado.persona.primer_apellido}}
            {{transicion.usuario_asignado.persona.segundo_apellido}}
            <br><strong>{{transicion.usuario_asignado_rol.descripcion}}</strong>
          </td>
          <td>
            <button type="button" uib-tooltip="Reasignar usuario" class="btn btn-sm" ng-click="$ctrl.reasignarUsuario(transicion)"><i class="fa fa-user"></i></button>
          </td>
        </tr>
        <tr ng-if="$ctrl.proyecto.usuario.persona && !$ctrl.usuarioEnTransiciones()">
          <td>proyecto</td>
          <td>{{$ctrl.proyecto.usuario.persona.nombres}}
            {{$ctrl.proyecto.usuario.persona.primer_apellido}}
            {{$ctrl.proyecto.usuario.persona.segundo_apellido}}
            <br><strong>{{$ctrl.proyecto.usuario_rol.descripcion}}
          </td>
          <td>
            <button type="button" uib-tooltip="Reasignar usuario" class="btn btn-sm" ng-click="$ctrl.reasignarUsuarioProy($ctrl.proyecto)"><i class="fa fa-user"></i></button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
