<div class="container">
  <h2 class="page-title"><i class="fa fa-cogs"></i> REPORTES <strong>CSV</strong></h2>
  <div class="card">
    <div class="card-body">

      <h3 class="card-title">Exportar CSV</h3>
      <form>

        <!-- <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label>Fecha Inicial</label>
              <div class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup ng-model="$ctrl.dt1" is-open="$ctrl.opened1" datepicker-options="$ctrl.dateOptions"
                  ng-required="true" />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="$ctrl.opened1 = true"><i class="fa fa-calendar"></i></button>
                </span>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label>Fecha Final</label>
              <div class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup ng-model="$ctrl.dt2" is-open="$ctrl.opened2" datepicker-options="$ctrl.dateOptions"
                  ng-required="true" />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="$ctrl.opened2 = true"><i class="fa fa-calendar"></i></button>
                </span>
              </div>
            </div>
          </div>
        </div> -->
        <hr>
        <div class="alert alert-info" role="alert">
          <i class="fa fa-info-circle"></i> Seleccione el tipo de reporte y presione el botón para obtener los datos de todos los proyectos relacionados y pasarlos a formato CSV.
        </div>

        <section>
          <form name="resumen">
            <div class="row">
              <div class="col-md-4">
                <c-select name="tipoReporte" label="Tipo de reporte a generar" ng-model="$ctrl.tipoReporte" key-value="valor" field="texto" options="$ctrl.tiposReporte" on-select="$ctrl.aplicarTipo()"></c-select>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <c-select name="gestion" label="Gestión" ng-model="$ctrl.gestion" options="$ctrl.gestiones" on-select="$ctrl.cambiarGestion(item)"></c-select>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12" ng-if="$ctrl.showDpa">
                <c-select-dpa ng-model="$ctrl.dpa" horizontal="true" disable-provincia="true"></c-select-dpa>
              </div>
              <!-- <div class="col-md-12" ng-if="$ctrl.tipoReporte === 'porDepartamento'">
                <c-select-dpa ng-model="$ctrl.dpa" horizontal="true" disable-provincia="true" disable-municipio="true"></c-select-dpa>
              </div> -->
            </div>
          </form>
        </section>

        <button type="button" md-effect class="btn btn-outline-primary" ng-click="$ctrl.descargarCSV()"><i class="fa fa-check"></i> Obtener datos csv</button>
        <button type="button" md-effect class="btn btn-outline-primary" ng-click="$ctrl.descargarCSV('xlsx')"><i class="fa fa-check"></i> Descargar xlsx</button>
        <!-- Opciones de descarga -->
        <hr ng-if="$ctrl.cantidad">
        <div class="alert alert-info" role="alert" ng-if="$ctrl.cantidad == 1">
          <i class="fa fa-info-circle"></i> Se ha encontrado 1 registro.
        </div>
        <div class="alert alert-info" role="alert" ng-if="$ctrl.cantidad > 1">
          <i class="fa fa-info-circle"></i> Se han encontrado {{$ctrl.cantidad}} registros.
        </div>
        <button type="button" md-effect class="btn btn-outline-primary" lazy-load="false"
          csv-header="$ctrl.obtenerCabeceras()" ng-csv="$ctrl.getArray" filename="{{ $ctrl.filename }}"
          ng-if="$ctrl.cantidad"><i class="fa fa-download"></i> Descargar</button>
      </form>
      <hr>

    </div>
  </div>
</div>