#documento {
  position: relative;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  .opciones {
    position: absolute;
    top: 17px;
    right: 0;
    left: 0;
    text-align: center;
    margin: 0 10px 0;
    width: 200px;
  }
  img {
    width: 200px;
    margin: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    border-radius: 2px;
  }
  .detalles {
    position: absolute;
    bottom: 0;
    margin: 10px;
    width: 200px;
    .nombre {
      bottom: 0;
      margin: 10px;
      padding: 5px;
      width: 200px;
      text-align: center;
      color: #fff;
      height: 60px;
      line-height: 16px;
      font-weight: 600;
      background: rgba(45, 57, 64, 0.74);
      border-radius: 0 0 2px 2px;
      display: table-cell;
      vertical-align: middle;
    }
  }
}
