<div class="modal-header">
  <h5 class="modal-title"><i class="fa fa-info-circle"></i> Fecha de modificación</h5>
  <button type="button" class="close" data-dismiss="modal" ng-click="$ctrl.cerrar()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>{{$ctrl.option.confirm_txt}}</p>

  <p>
    Se le informa que estas modificaciones, una vez aprobadas serán incorporadas a la planilla de avance.
  </p>

  <div class="alert alert-warning">
    <i class="fa fa-info-circle"></i>
    <span>{{$ctrl.option.action}} la <strong>fecha de la modificación</strong>.</span>
  </div>

  <ng-form name="formPlazo">
    <div class="row">
      <div class="offset-md-3 col-md-6">
        <c-date name="fecha_modificacion" label="Fecha de modificación"
                ng-model="$ctrl.proyecto.fecha_modificacion"
                ng-required="true"
                min-date="$ctrl.validacion.fecha_minima"
                ng-disabled="$ctrl.option.disabled"
                mensaje-max-date="La fecha no puede ser mayor a la fecha actual">
        </c-date>
      </div>
    </div>
  </ng-form>

  <small>Nota.- La fecha de la modificación deberá ser la misma que se ha establecido en los documentos aprobados (libro de ordenes, informes técnicos, contrato modificatorio)</small>
</div>
<div class="modal-footer">
  <button type="button" md-effect class="btn btn-secondary" ng-click="$ctrl.cerrar()">
    <i class="fa fa-close"></i> Cancelar
  </button>
  <button type="submit" md-effect class="btn btn-primary" validar-formulario="formPlazo" ng-click="$ctrl.aceptar()">
    <i class="fa fa-check"></i> Si, estoy seguro/a
  </button>
</div>
