<div class="modal-header">
  <h5 class="modal-title"><i class="fa fa-rotate-left"></i> Rechazo del Proyecto</h5>
  <button type="button" class="close" data-dismiss="modal" ng-click="$ctrl.cerrar()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>¿Usted desea rechazar el proyecto de manera definitiva o para su modificación?</p>

  <ng-form name="formObservacion">
    <div class="row">
      <div class="col-md-12">
        <c-textarea name="motivo_rechazo" label="Motivo del Rechazo"
          ng-model="$ctrl.data.motivo_rechazo"
          ng-minlength="10"
          ng-required="true"></c-textarea>
      </div>
    </div>
  </ng-form>

  <small><em>NOTA.- Debe registrar el motivo del rechazo.</em></small>
</div>
<div class="modal-footer">
  <button type="button" md-effect class="btn btn-secondary" ng-click="$ctrl.cerrar()">
    <i class="fa fa-close"></i> Cancelar
  </button>
  <button type="submit" md-effect class="btn btn-danger" validar-formulario="formObservacion" ng-click="$ctrl.rechazar()">
    <i class="fa fa-trash"></i> Rechazar
  </button>
</div>
