<div class="modal-header pb-0">
  <h5 class="modal-title"><i class="fa fa-user"></i> {{$ctrl.empleado.nombre}}</h5>
  <button type="button" class="close" data-dismiss="modal" ng-click="$ctrl.cerrar()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body pt-0">
  <uib-tabset active="active">
    <uib-tab index="0" heading="Experiencia General">
      <c-table dataset="$ctrl.empleado.experiencias.generales" columns="$ctrl.camposExperiencia"></c-table>
    </uib-tab>

    <uib-tab index="1" heading="Experiencia Específica" disable="tab.disabled">
      <c-table dataset="$ctrl.empleado.experiencias.especificas" columns="$ctrl.camposExperiencia"></c-table>
    </uib-tab>
  </uib-tabset>
</div>

<div class="modal-footer">
  <button type="button" md-effect class="btn btn-primary" ng-click="$ctrl.cerrar()">
    <i class="fa fa-check"></i> Aceptar
  </button>
</div>
