<div class="container">
  <h2 class="page-title" ui-sref="admin-techos-presupuestarios">
    <i class="fa fa-reply"></i>
    <small>Volver</small>
  </h2>
  <div class="card">
    <ng-form name="techosPresupuestariosForm">
      <div class="card-body">
        <h4>Datos de techo presupuestario {{$ctrl.$stateParams.gestion}}</h4>
        <div class="row">
          <div class="col-sm-12">
            <c-input name="nombre_municipio" label="Municipio" ng-model="$ctrl.techo_presupuestario.nombre_municipio"
            ng-minlength="3" maxlength="255"
            ng-required="true"></c-input>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <c-input-numeric name="codigo" label="Código" ng-model="$ctrl.techo_presupuestario.codigo"
            ng-minvalue="00001" ng-maxvalue="99999" ng-formatting="false" ng-decimals="0" ng-required="true" ng-disabled="true"></c-input-numeric>
          </div>
          <div class="col-sm-12 col-md-6">
            <c-input-numeric name="codigo" label="Número de concejales" ng-model="$ctrl.techo_presupuestario.num_concejales"
            ng-minvalue="1" ng-maxvalue="99" ng-formatting="false" ng-decimals="0" ng-required="true"></c-input-numeric>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-4">
            <c-input-money name="techo_presupuestal" label="Techo presupuestal" ng-model="$ctrl.techo_presupuestario.techo_presupuestal"
            ng-required="true" ng-blur=""></c-input-money>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4">
            <c-input-money name="monto_usado" label="Monto usado" ng-model="$ctrl.techo_presupuestario.monto_usado"
            ng-required="true" ng-disabled="true" ng-blur=""></c-input-money>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4">
            <c-input-money name="monto_disponible" label="Monto disponible" ng-model="$ctrl.techo_presupuestario.monto_disponible"
            ng-required="true" ng-disabled="true" ng-blur=""></c-input-money>
          </div>
        </div>
      </div>
    </ng-form>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <button md-effect type="button" class="btn btn-info" ng-click="$ctrl.guardarDatos(techosPresupuestariosForm)">
            <i class="fa fa-save"></i> Guardar datos
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
