<section ng-repeat="archivo in $ctrl.proyecto.archivo_adjunto">
  <h6 class="title-section m-top" ng-if="!archivo.datos.ruta">
    <i class="fa fa-hand-o-right"></i> Adjuntar archivo
  </h6>
  <h6 class="title-section m-top" ng-if="archivo.datos.ruta">
    <i class="fa fa-file"></i> Adjunto: {{ archivo.datos.titulo }}
  </h6>
  <div class="row">
    <div class="col-lg-6 text-left">
      <div ng-if="!archivo.datos.ruta">
        <c-input label="Título de Documento" name="doc{{$index}}" ng-model="archivo.datos.titulo" ng-disabled="!$ctrl.modoEdicionDoc(archivo) || archivo.datos.id_archivo_adjunto" maxlength="64"></c-input>
      </div>
      <div>
        <c-input label="Usuario" name="autor{{$index}}" ng-model="archivo.datos.rol.descripcion" ng-disabled="true" maxlength="32"></c-input>
      </div>
      <div>
        <c-input label="Estado" name="codigo_estado{{$index}}" ng-model="archivo.datos.codigo_estado" ng-disabled="true" maxlength="32"></c-input>
      </div>
      <div class="row">
        <div class="col-lg-6 text-left" ng-if="archivo.datos.fecha_inicio || !archivo.datos.ruta">
          <c-input label="Fecha inicio" name="fecha_inicio{{$index}}" ng-model="archivo.datos.fecha_inicio" ng-disabled="!$ctrl.modoEdicionDoc(archivo) || archivo.datos.ruta" maxlength="32"></c-input>
        </div>
        <div class="col-lg-6 text-left" ng-if="archivo.datos.fecha_inicio || !archivo.datos.ruta">
          <c-input label="Fecha fin" name="fecha_fin{{$index}}" ng-model="archivo.datos.fecha_fin" ng-disabled="!$ctrl.modoEdicionDoc(archivo) || archivo.datos.ruta" maxlength="32"></c-input>
        </div>
      </div>
    </div>
    <div class="col-lg-6 text-left">
      <ui-input-file name="{{archivo.datos.titulo}}" label="Documento de respaldo"
        file-base64="archivo.file"
        upload-callback="$ctrl.uploadArchivoAdjunto"
        types="pdf" mime-types=".pdf" maxfiles="1" maxsize="3MB"
        ng-if="!archivo.datos.ruta">
      </ui-input-file>
      <div id="documento" ng-if="archivo.datos.ruta">
        <div class="opciones">
          <button md-effect type="button" class="btn btn-success btn-sm" uib-tooltip="Ver archivo" ng-click="$ctrl.verArchivoAdjunto(archivo)">
            <i class="fa fa-eye"></i>
          </button>
          <button md-effect type="button" class="btn btn-info btn-sm" uib-tooltip="Cambiar" ng-click="$ctrl.cambiarArchivoAdjunto(archivo)" ng-if="$ctrl.modoEdicionDoc(archivo)">
            <i class="fa fa-exchange"></i>
          </button>
        </div>
        <img src="./images/documento.jpg" alt="Documento">
        <div class="detalles">
          <div class="nombre" style="white-space:pre-wrap;word-break:break-word;">{{archivo.datos.nombre_original}}</div>
        </div>
      </div>
      <div>
        <button md-effect type="button" class="btn btn-danger btn-sm pull-right" ng-if="$ctrl.modoEdicionDoc(archivo)" ng-click="$ctrl.eliminarArchivoAdjunto(archivo)"><span class="fa fa-minus"></span></button>
      </div>
    </div>
  </div>
</section>

<section>
  <h6 class="title-section m-top">
    <i class="fa fa-hand-o-right"></i> Adjuntar archivo
    <span>
      <button md-effect type="button" class="btn btn-primary btn-sm" ng-click="$ctrl.agregarArchivoAdjunto()"><span class="fa fa-plus"></span></button>
    </span>
  </h6>
</section>
