<div class="row" ng-if="!$ctrl.Proyecto.tratarComoProductivo($ctrl.proyecto)">
<section ng-init="$ctrl.initPlantilla()" class="col-xl-8 offset-xl-2">
  <h6 class="title-section m-top">
    <i class="fa fa-hand-o-right"></i> Documento de Evaluación Externa
  </h6>
  <div class="row">
    <div class="col-md-12">
      <archivo name="doc_ev_externa" label="Documento de Evaluacion Externa" ng-model="$ctrl.proyecto.doc_ev_externa"
              types="pdf" mime-types=".pdf" maxsize="3MB"
              url="{{$ctrl.archivos.urlDocEvExterna}}"
              url-descarga="{{$ctrl.archivos.urlDocEvExternaDescarga}}"
              cambiar="$ctrl.Proyecto.esEditable('doc_ev_externa')"
              modo-vista="!$ctrl.Proyecto.esEditable('doc_ev_externa')">
      </archivo>
    </div>
  </div>
</section>
</div>

<div class="row" ng-if="$ctrl.Proyecto.tratarComoProductivo($ctrl.proyecto)">
<section ng-init="$ctrl.initPlantilla()" class="col-xl-10" style="max-height:600px;overflow:auto">
  <div class="form-evaluacion table-responsive">
    <!-- <table>
      <tr>
        <td class="center"><img alt="logo_mdryt" src="../../../../../images/fdi-logo.png"/ height="100px"></td>
        <th>
          <h4>FORMULARIO DE EVALUACION DEL EDTP</h4>
          <h6>I. DATOS GENERALES DEL PROYECTO</h6>
        </th>
        <td class="center"><img alt="logo_fdi" src="../../../../../images/mdryt-logo.png"/ height="100px"></td>
      </tr>
    </table>
    <hr> -->
    <table>
      <tr>
        <th>CODIGO</th>
        <td colspan="5">{{$ctrl.proyecto.nro_convenio}}</td>
      </tr>
      <tr>
        <th class="w240">DEPARTAMENTO</th>
        <td style="width:25%" colspan="2">{{$ctrl.proyecto.evaluacion.departamento.nombre}}</td>
        <th class="w240">PROVINCIA</th>
        <td colspan="2">{{$ctrl.proyecto.evaluacion.provincia.nombre}}</td>
      </tr>
      <tr>
        <th class="w240">MUNICIPIO</th>
        <td colspan="5">{{$ctrl.proyecto.evaluacion.municipio.nombre}}</td>
      </tr>
      <tr>
        <th class="w240">NOMBRE DEL PROYECTO</th>
        <td colspan="5">{{$ctrl.proyecto.evaluacion.nombre}}</td>
      </tr>
    </table>
    <hr>
    <table>
      <tr>
        <th class="w240" rowspan="2">PLAZOS (días)</th>
        <th class="w240" style="width:25%">Ejecución</th>
        <td colspan="2">{{$ctrl.proyecto.beneficiarios.plazo_ejecucion}}</td>
      </tr>
      <tr>
        <th class="w240">Convenio</th>
        <td colspan="2">{{$ctrl.plazo_convenio}}</td>
      </tr>
    </table>
    <hr>
    <table>
      <tr>
        <th class="w240">N° COMUNIDADES</th>
        <td style="width:25%">{{$ctrl.proyecto.evaluacion.beneficiarios.nro_comunidades}}</td>
        <th rowspan="2" class="w240">COMUNIDADES</th>
        <td rowspan="2">
          <span ng-repeat="comunidad in $ctrl.proyecto.beneficiarios.comunidades">
            {{comunidad.nombre}}{{$last ? '' : ', '}}
          </span>
        </td>
      </tr>
      <tr>
        <th class="w240">N° Familias Beneficiarias directas</th>
        <td>{{$ctrl.proyecto.evaluacion.beneficiarios.nro_familias}}</td>
      </tr>
    </table>
    <hr>
    <table>
      <tr>
        <th colspan="2">MONTO FINANCIAMIENTO (Bs)</th>
        <th colspan="2">ELABORACIÓN DEL EDTP</th>
      </tr>
      <tr>
        <th class="w240">FDI</th>
        <td class="right" style="width:25%">{{$ctrl.proyecto.evaluacion.financiamiento.monto_fdi | currency:'Bs':2}}</td>
        <th rowspan="2" class="w240">Responsable GAM/GAIOC Aprobación proyectos / Correo / Teléfono</th>
        <td rowspan="2">
          <!-- <textarea ng-disabled="true" ng-model="$ctrl.proyecto.evaluacion.responsable_gam_gaioc" style="width:100%;min-width:160px;"></textarea> -->
          <div ng-bind-html="$ctrl.proyecto.evaluacion.responsable_gam_gaioc"></div>
        </td>
      </tr>
      <tr>
        <th class="w240">GAM/GAIOC</th>
        <td class="right">{{$ctrl.proyecto.evaluacion.financiamiento.monto_contraparte | currency:'Bs':2}}</td>
      </tr>
      <tr>
        <th class="w240">BENEFICIARIOS</th>
        <td class="right">{{$ctrl.proyecto.evaluacion.financiamiento.monto_beneficiarios | currency:'Bs':2}}</td>
        <th rowspan="2" class="w240">Tecnico encargado de la Elaboracion del EDTP / Correo / Teléfono</th>
        <td rowspan="2">
          <!-- <textarea ng-disabled="true" ng-model="$ctrl.proyecto.evaluacion.responsable_edtp" style="width:100%;min-width:160px;"></textarea> -->
          <div ng-bind-html="$ctrl.proyecto.evaluacion.responsable_edtp"></div>
        </td>
      </tr>
      <tr>
        <th class="w240">OTROS</th>
        <td class="right">{{$ctrl.proyecto.evaluacion.financiamiento.monto_otros | currency:'Bs':2}}</td>
      </tr>
      <tr>
        <th class="w240">TOTAL</th>
        <td class="titulo right">{{$ctrl.proyecto.evaluacion.financiamiento.monto_total_proyecto | currency:'Bs':2}}</td>
      </tr>
    </table>
    <hr>
    <button type="button" ng-if="!$ctrl.modoVista" class="btn btn-xs btn-warning pull-right" ng-click="$ctrl.regenerarFormulario()">
      <i class="fa fa-refresh"></i> Regenerar
    </button>
    <table>
      <tr>
        <td colspan="2" class="titulo">DESCRIPCIÓN</td>
        <td class="titulo">PARAMETRO/CRITERIO DE EVALUACION</td>
        <td class="titulo">CUMPLE</td>
        <td class="titulo">NO CUMPLE</td>
        <td class="titulo">NO APLICA</td>
        <td class="titulo">OBSERVACIONES</td>
      </tr>
      <tr ng-repeat="(r,row) in $ctrl.proyecto.evaluacion.datos">
        <td ng-repeat="(c,col) in row.cols" colspan="{{col.colspan}}" rowspan="{{col.rowspan}}" ng-class="col.class">
          <strong ng-bind-html="col.titulo"></strong>
          <div ng-if="col.contenido.type=='checkbox'" ng-click="col.contenido.value=$ctrl.modoVista?col.contenido.value:!col.contenido.value" class="btn" ng-class="{'btn-success':col.contenido.value,'btn-secondary':!col.contenido.value}" style="width:100%"><i class="fa" ng-class="{'fa-check-square-o':col.contenido.value}"></i></div>
          <div ng-if="col.contenido.type=='radio'" ng-click="$ctrl.radioChange(row.cols, c)" class="btn" ng-class="[$ctrl.radioColor(col.contenido)]" style="width:100%"><i class="fa" ng-class="{'fa-check-circle-o':col.contenido.value}"></i></div>
          <div ng-if="col.contenido.type=='textarea'"><textarea ng-model="col.contenido.value" cols="30" rows="2" ng-disabled="$ctrl.modoVista"></textarea></div>
          <div ng-if="!col.contenido.type" ng-bind-html="$ctrl.limitarTexto(col.contenido)" uib-tooltip-html='"<br>{{$ctrl.parsearTexto(col.contenido)}}<br>&nbsp;"' tooltip-append-to-body="true"></div>
        </td>
      </tr>
    </table>
  </div>
  <hr>
  <div class="form-evaluacion table-responsive">
    <table>
      <tr>
        <td class="titulo" colspan="4">2. CRITERIOS GENERALES DE ELEGIBILIDAD</td>
      </tr>
      <tr>
        <td class="titulo" rowspan="2">Criterio</td>
        <td class="titulo" rowspan="2">Medios de verificación</td>
        <td class="titulo" colspan="2">Valoracion</td>
      </tr>
      <tr>
        <td class="titulo">CUMPLE</td>
        <td class="titulo">NO CUMPLE</td>
      </tr>
      <tr ng-repeat="(r,row) in $ctrl.proyecto.evaluacion.datos2">
        <td ng-repeat="(c,col) in row.cols" colspan="{{col.colspan}}" rowspan="{{col.rowspan}}" ng-class="col.class">
          <strong ng-bind-html="col.titulo"></strong>
          <div ng-if="col.contenido.type=='checkbox'" ng-click="col.contenido.value=$ctrl.modoVista?col.contenido.value:!col.contenido.value" class="btn" ng-class="{'btn-success':col.contenido.value,'btn-secondary':!col.contenido.value}" style="width:100%"><i class="fa" ng-class="{'fa-check-square-o':col.contenido.value}"></i></div>
          <div ng-if="col.contenido.type=='radio'" ng-click="$ctrl.radioChange(row.cols, c)" class="btn" ng-class="[$ctrl.radioColor(col.contenido)]" style="width:100%"><i class="fa" ng-class="{'fa-check-circle-o':col.contenido.value}"></i></div>
          <div ng-if="col.contenido.type=='textarea'"><textarea ng-model="col.contenido.value" cols="40" rows="5" ng-disabled="$ctrl.modoVista"></textarea></div>
          <div ng-if="!col.contenido.type" ng-bind-html="col.contenido"></div>
        </td>
      </tr>
    </table>
  </div>
  <hr>
  <div class="form-evaluacion table-responsive" ng-if="$ctrl.criteriosElegibilidad()">
    <table>
      <tr>
        <td class="titulo" colspan="3">3. CRITERIOS ESPECIFICOS DE ELEGIBILIDAD</td>
        <td class="titulo" colspan="3">Valoracion</td>
      </tr>
      <tr>
        <td class="titulo">Tipo de Proyecto</td>
        <td class="titulo">Criterio</td>
        <td class="titulo">Medios de Verificación</td>
        <td class="titulo">CUMPLE</td>
        <td class="titulo">NO CUMPLE</td>
        <td class="titulo">NO APLICA</td>
      </tr>
      <tr ng-repeat="(r,row) in $ctrl.proyecto.evaluacion.datos3" ng-if="$ctrl.visibilidad(row.key)" rel="{{row.key}}">
        <td ng-repeat="(c,col) in row.cols" colspan="{{col.colspan}}" rowspan="{{col.rowspan}}" ng-class="col.class">
          <strong ng-bind-html="col.titulo"></strong>
          <div ng-if="col.contenido.type=='checkbox'" ng-click="col.contenido.value=$ctrl.modoVista?col.contenido.value:!col.contenido.value" class="btn" ng-class="{'btn-success':col.contenido.value,'btn-secondary':!col.contenido.value}" style="width:100%"><i class="fa" ng-class="{'fa-check-square-o':col.contenido.value}"></i></div>
          <div ng-if="col.contenido.type=='radio'" ng-click="$ctrl.radioChange(row.cols, c)" class="btn" ng-class="[$ctrl.radioColor(col.contenido)]" style="width:100%"><i class="fa" ng-class="{'fa-check-circle-o':col.contenido.value}"></i></div>
          <div ng-if="col.contenido.type=='textarea'"><textarea ng-model="col.contenido.value" cols="40" rows="5" ng-disabled="$ctrl.modoVista"></textarea></div>
          <div ng-if="!col.contenido.type" ng-bind-html="col.contenido"></div>
        </td>
      </tr>
    </table>
  </div>
  <hr>
  <div class="form-evaluacion table-responsive">
    <table>
      <tr>
        <td class="titulo" colspan="3">4. ANALISIS DE LA FACTIBILIDAD DEL PROYECTO</td>
        <td class="titulo" colspan="2">Valoracion</td>
      </tr>
      <tr>
        <td class="titulo">Indicador</td>
        <td class="titulo">Parametro (Factor y/o dato)</td>
        <td class="titulo">Insumo / Instrumento</td>
        <td class="titulo">CUMPLE</td>
        <td class="titulo">NO CUMPLE</td>
      </tr>
      <tr ng-repeat="(r,row) in $ctrl.proyecto.evaluacion.datos4" ng-if="$ctrl.visibilidadAnalisisFactibilidad(row.key)" rel="{{row.key}}">
        <td ng-repeat="(c,col) in row.cols" colspan="{{col.colspan}}" rowspan="{{col.rowspan}}" ng-class="col.class">
          <strong ng-bind-html="col.titulo"></strong>
          <div ng-if="col.contenido.type=='checkbox'" ng-click="col.contenido.value=$ctrl.modoVista?col.contenido.value:!col.contenido.value" class="btn" ng-class="{'btn-success':col.contenido.value,'btn-secondary':!col.contenido.value}" style="width:100%"><i class="fa" ng-class="{'fa-check-square-o':col.contenido.value}"></i></div>
          <div ng-if="col.contenido.type=='radio'" ng-click="$ctrl.radioChange(row.cols, c)" class="btn" ng-class="[$ctrl.radioColor(col.contenido)]" style="width:100%"><i class="fa" ng-class="{'fa-check-circle-o':col.contenido.value}"></i></div>
          <div ng-if="col.contenido.type=='textarea'"><textarea ng-model="col.contenido.value" cols="40" rows="5" ng-disabled="$ctrl.modoVista"></textarea></div>
          <div ng-if="!col.contenido.type" ng-bind-html="col.contenido"></div>
        </td>
      </tr>
    </table>
  </div>
  <hr>
  <div class="form-evaluacion table-responsive">
    <table>
      <tr>
        <td class="titulo"></td>
        <td class="titulo">APROBAR</td>
        <td class="titulo">AJUSTAR</td>
        <td class="titulo">RECHAZAR</td>
      </tr>
      <tr ng-repeat="(r,row) in $ctrl.proyecto.evaluacion.datos5">
        <td ng-repeat="(c,col) in row.cols" colspan="{{col.colspan}}" rowspan="{{col.rowspan}}" ng-class="col.class">
          <strong ng-bind-html="col.titulo"></strong>
          <div ng-if="col.contenido.type=='checkbox'" ng-click="col.contenido.value = $ctrl.modoVista ? col.contenido.value : !col.contenido.value" class="btn" ng-class="{'btn-success':col.contenido.value,'btn-secondary':!col.contenido.value}" style="width:100%"><i class="fa" ng-class="{'fa-check-square-o':col.contenido.value}"></i></div>
          <div ng-if="col.contenido.type=='radio'" ng-click="$ctrl.radioChangeWithValidation(row.cols, c)" class="btn" ng-class="[$ctrl.radioColor(col.contenido)]" style="width:100%"><i class="fa" ng-class="{'fa-check-circle-o':col.contenido.value}"></i></div>
          <div ng-if="col.contenido.type=='textarea'"><textarea ng-model="col.contenido.value" cols="40" rows="5" ng-disabled="$ctrl.modoVista"></textarea></div>
          <div ng-if="!col.contenido.type" ng-bind-html="col.contenido"></div>
        </td>
      </tr>
    </table>
  </div>
  <hr>
  <div class="form-evaluacion table-responsive">
    <table class="font-small">
      <tr>
        <th class="backcolor" width="33%">TECNICO REVISOR</th>
        <th class="backcolor" width="33%">CONFORMIDAD JEFE AREA REVISION TECNICA DE PROYECTOS</th>
        <th class="backcolor" width="33%">V° B° JEFE DEPARTAMENTO TECNICO</th>
      </tr>
      <tr>
        <td><br><br><br>FIRMA</td>
        <td><br><br><br>FIRMA</td>
        <td><br><br><br>FIRMA</td>
      </tr>
      <tr>
        <td>Nombre:<input type="text" ng-model="$ctrl.proyecto.evaluacion.revisor.nombre" style="width:100%" ng-disabled="true"></td>
        <td>Nombre:<input type="text" ng-model="$ctrl.proyecto.evaluacion.jefe_area.nombre" style="width:100%" ng-disabled="true"></td>
        <td>Nombre:<input type="text" ng-model="$ctrl.proyecto.evaluacion.jefe_depto.nombre" style="width:100%" ng-disabled="true"></td>
      </tr>
      <tr>
        <td>Cargo:<input type="text" ng-model="$ctrl.proyecto.evaluacion.revisor.cargo" style="width:100%" ng-disabled="true"></td>
        <td>Cargo:<input type="text" ng-model="$ctrl.proyecto.evaluacion.jefe_area.cargo" style="width:100%" ng-disabled="true"></td>
        <td>Cargo:<input type="text" ng-model="$ctrl.proyecto.evaluacion.jefe_depto.cargo" style="width:100%" ng-disabled="true"></td>
      </tr>
    </table>
  </div>
</section>
<hr>
<section class="col-xl-2">
  <button type="button" ng-if="!$ctrl.modoVista || ($ctrl.esRechazado && $ctrl.esTecEval)" class="btn btn-primary" ng-click="$ctrl.generarEvaluacionPdf()"><i class="fa fa-file-pdf-o"></i> Generar<br>Formulario</button>
  <hr>
  <div class="row">
    <div class="col">Formularios de evaluación generados</div>
  </div>
  <div class="row">
      <div class="col-md-6 col-xl-12" ng-repeat="doc in $ctrl.documentos" ng-if="doc.estado!=='INACTIVO' || $ctrl.esTecEval">
        <div class="btn btn-outline-tertiary" style="width:100%;margin-top:2px;">
          <div ng-if="doc.estado!=='INACTIVO'"><span ng-click="$ctrl.verEvaluacion(doc)" >{{ doc.fecha_documento | date: 'dd/MM/yyyy' }}</span><span ng-click="$ctrl.corregirFecha(doc)" ng-if="$ctrl.esTecEval"> - <i class="fa fa-calendar-check-o text-warning" uib-tooltip="Corregir fecha"></i></span></div>
          <div ng-if="$ctrl.esTecEval" style="font-size:8px;color:#000;text-transform:none;"><span ng-click="$ctrl.estado(doc)"><i class="fa" ng-class="{'fa-check-square-o': doc.estado!=='INACTIVO', 'fa-square-o': doc.estado==='INACTIVO'}" uib-tooltip="Visible" style="font-size:10px;"></i> - </span>Creado: {{ doc._fecha_creacion | date: 'dd/MM/yyyy HH:mm' }}</div>
        </div>
      </div>
  </div>
</section>
</div>
<style>
  .form-evaluacion .titulo {
    text-align: center;
    font-weight: bold;
  }
  .form-evaluacion .center {
    text-align: center;
  }
  .form-evaluacion .right {
    text-align: right;
  }
  .form-evaluacion .backcolor {
    background-color: #BDD7EE;
    border: 1px solid darkblue;
  }
  .form-evaluacion table {
    width: 100%;
  }
  .form-evaluacion table th,
  .form-evaluacion table th {
    background-color: #BDD7EE;
    text-align: center;
  }
  .form-evaluacion table td {
    border: 1px solid #000;
    padding-left: 4px;
    padding-right: 4px;
  }
  .form-evaluacion table td .btn {
    border: 1px solid #aaa;
  }
  .form-evaluacion table .w240 {
    width: 240px;
  }
</style>
