<uib-tabset active="active">
  <uib-tab heading="General">
    <c-table columns="$ctrl.camposExperiencia" dataset="$ctrl.experiencias.generales"></c-table>
  </uib-tab>
  <uib-tab heading="Específica">
    <c-table columns="$ctrl.camposExperiencia" dataset="$ctrl.experiencias.especificas"></c-table>
  </uib-tab>
</uib-tabset>

<div class="totales col-md-12" style="clear:both;">
  <div class="row">
    <div class="col-md-6">
      TOTAL FACTURADO EN DÓLARES AMERICANOS (alternativo)
    </div>
    <div class="col-md-6">
      <strong>{{ active === 0 ? $ctrl.totalesExpGeneral.dolares : $ctrl.totalesExpEspecifica.dolares | formatDecimal }}</strong>
    </div>
    <div class="col-md-6">
      TOTAL FACTURADO EN BOLIVIANOS
    </div>
    <div class="col-md-6">
      <strong>{{ active === 0 ? $ctrl.totalesExpGeneral.bolivianos : $ctrl.totalesExpEspecifica.bolivianos | formatDecimal }}</strong>
    </div>
  </div>
</div>
