<button md-effect type="button" class="btn btn-success" ng-click="$ctrl.adicionar()" ng-if="!$ctrl.tieneFiscal() && !$ctrl.modoVista">
  <i class="fa fa-plus"></i> Agregar
</button>
<div class="crud-table">
  <table class="table table-striped table-hover table-responsive">
    <thead>
      <tr>
        <td>Acciones</td>
        <td>Nombre</td>
        <td>Cargo</td>
        <td>Celular</td>
        <td>Correo electrónico</td>
        <td>Estado</td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="miembro in $ctrl.listaEquipo" ng-class="{'inactivo':miembro.estado!='ACTIVO'}">
        <td>
          <button md-effect type="button" class="btn btn-sm btn-primary" uib-tooltip="Ver datos" ng-click="$ctrl.verDatos(miembro)"><i class="fa fa-eye"></i></button>
          <reconfirmacion-usuario usuario="miembro.usuario" ng-if="$ctrl.esSupervisorOFiscal(miembro) && $ctrl.esResponsableProy"
            api="{{$ctrl.urlReconfirmacion + miembro.id_equipo_tecnico + '/notificar'}}">
          </reconfirmacion-usuario>
          <button md-effect type="button" class="btn btn-sm btn-danger" uib-tooltip="Inhabilitar usuario" ng-click="$ctrl.inactivarUsuario(miembro)" ng-if="$ctrl.esSupervisorOFiscal(miembro) && $ctrl.esResponsableProy && !$ctrl.modoVista"><i class="fa fa-ban"></i></button>
        </td>
        <td>{{miembro.usuario.persona | nombreUnido}}</td>
        <td>{{miembro.cargo_usuario.nombre}}</td>
        <td>{{miembro.usuario.persona.telefono}}</td>
        <td>{{miembro.usuario.persona.correo}}</td>
        <td>{{miembro.estado}}</td>
      </tr>
    </tbody>
  </table>
</div>
<section ng-if="$ctrl.puedeVerAdjudicaciones()">
<h6 class="title-section m-top">
  <i class="fa fa-hand-o-right"></i> Componentes
</h6>
<div class="row">
  <div class="md-input-group col-lg-1">
    <c-input name="nro_adjudicaciones" label="Cant." ng-model="$ctrl.adjudicaciones.nro_adjudicaciones" ng-disabled="true"></c-input>
    <button type="button" class="btn btn-md btn-success" ng-click="$ctrl.agregarAdjudicacion()" ng-if="$ctrl.esResponsableGAM && !$ctrl.modoVista"><i class="fa fa-plus-circle"></i></button>
  </div>
  <div class="col-lg-11">
    <div class="row" ng-repeat="adjudicacion in $ctrl.adjudicaciones.empresas">
      <div class="col-md-3">         
          <c-input name="referencia{{$index}}" label="Componente del Proyecto" ng-model="adjudicacion.referencia"        
        ng-required="true" ng-disabled="$ctrl.modoVista"></c-input>  
          <c-input-numeric name="monto{{$index}}" label="Monto Adjudicación" ng-model="adjudicacion.monto"        
        ng-required="true" ng-decimals="2" ng-disabled="$ctrl.modoVista || $ctrl.tieneSupervisiones($index)"></c-input-numeric>

        <button type="button" class="btn btn-sm btn-success" ng-click="$ctrl.guardarAdjudicacion($index)" ng-if="$ctrl.esResponsableGAM && !$ctrl.modoVista"><i class="fa fa-save"></i> Guardar</button>
        <button type="button" class="btn btn-sm btn-danger" ng-click="$ctrl.quitarAdjudicacion($index)" ng-if="$ctrl.esResponsableGAM && !$ctrl.modoVista && !$ctrl.tieneSupervisiones($index)"><i class="fa fa-trash"></i> Quitar</button>
      </div>
      <div class="col-md-3">
        <archivo name="doc_adjudicacion{{$index}}" label="Documento de Adjudicación" ng-model="adjudicacion.doc_adjudicacion"
                types="pdf" mime-types=".pdf" maxsize="3MB"
                url="{{adjudicacion.archivo.url}}"
                url-descarga="{{adjudicacion.archivo.urlDescarga}}"
                cambiar="!$ctrl.modoVista"
                modo-vista="$ctrl.modoVista">
        </archivo>
      </div>
      <div class="col-md-6" ng-if="adjudicacion.id_adjudicacion > 0">
        <div class="col-md-12">
          <h6 class="title-section m-top">Designación de Supervisor(es)</h6>          
          <button md-effect type="button" class="btn btn-sm btn-success" ng-click="$ctrl.adicionarSupervisorAdjudicacion($index)" ng-if="$ctrl.esResponsableGAM && !$ctrl.modoVista && !$ctrl.tieneSupervisor(adjudicacion)">
            <i class="fa fa-plus"></i> Agregar
          </button>
          <div class="crud-table">            
            <table class="table table-striped table-hover table-responsive">
              <thead>
                <tr>
                  <td>Acciones</td>
                  <td>Nombre</td>
                  <td>Celular</td>
                  <td>Correo electrónico</td>
                  <td>Estado</td>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="miembro in adjudicacion.equipo" ng-class="{'inactivo':miembro.estado!='ACTIVO'}">
                  <td>
                    <button md-effect type="button" class="btn btn-sm btn-primary" uib-tooltip="Ver datos" ng-click="$ctrl.verDatos(miembro)"><i class="fa fa-eye"></i></button>
                    <reconfirmacion-usuario usuario="miembro.usuario" ng-if="$ctrl.esResponsableGAM && miembro.estado === 'ACTIVO'"
                      api="{{$ctrl.urlReconfirmacion + miembro.id_equipo_tecnico + '/notificar'}}">
                    </reconfirmacion-usuario>
                    <button md-effect type="button" class="btn btn-sm btn-danger" uib-tooltip="Inhabilitar usuario" ng-click="$ctrl.inactivarUsuarioAdjudicacion($index,$parent.$index)" ng-if="$ctrl.esResponsableGAM && !$ctrl.modoVista && miembro.estado === 'ACTIVO'"><i class="fa fa-ban"></i></button>
                  </td>
                  <td>{{miembro.usuario.persona | nombreUnido}}</td>
                  <td>{{miembro.usuario.persona.telefono}}</td>
                  <td>{{miembro.usuario.persona.correo}}</td>
                  <td>{{miembro.estado}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <hr style="border-top: 1px dashed #8c8b8b;">
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <c-input-numeric name="monto_total" label="Monto total del proyecto" ng-model="$ctrl.monto_total"
          ng-decimals="2" ng-disabled="true" ng-if="$ctrl.esResponsableGAM && !$ctrl.modoVista"></c-input-numeric>
      </div>
      <div class="col-md-3">
        <c-input-numeric name="monto_restante" label="Monto disponible para adjudicar" ng-model="$ctrl.monto_restante"
          ng-decimals="2" ng-disabled="true" ng-if="$ctrl.esResponsableGAM && !$ctrl.modoVista"></c-input-numeric>
      </div>
    </div>
  </div>
</div>
</section>
