<ng-form name="form_{{$ctrl.modulo.id_modulo}}">
  <span class=" text-primary"><strong>Módulo:</strong> {{$ctrl.modulo.nombre}}</span>
  <button class="btn btn-link text-danger" ng-click="$ctrl.eliminarModulo()" uib-tooltip="Eliminar el módulo y los items adicionados" ng-if="false">
    <i class="fa fa-trash-o"></i> Eliminar Items
  </button>
  <div class="float-right" ng-if="!$ctrl.modoVista">
    <button class="btn btn-link text-success ml-1  pl-1 pr-1" ng-click="$ctrl.guardarDatosModulo($ctrl.modulo)" ng-if="$ctrl.options.guardar===true"
    uib-tooltip="Guardar datos módulo" validar-formulario nombre-formulario="form_{{$ctrl.modulo.id_modulo}}">
      <i class="fa fa-save"></i>
    </button>
    <button class="btn btn-link text-primary ml-1 pl-1 pr-1" ng-click="$ctrl.editarModulo($ctrl.modulo)" ng-if="$ctrl.options.editar===true" uib-tooltip="Editar">
      <i class="fa fa-edit"></i>
    </button>
  </div>
  <hr class="mt-2 mb-1">

  <div style="overflow:auto">
    <table class="table table-striped mod-t text-right" style="width:auto;margin-bottom:170px;">
      <thead>
        <tr>
          <th rowspan="2" title="Nro de item" style="width:50px">Nro.</th>
          <th rowspan="2" class="text-left" style="width:350px">Descripción</th>
          <th rowspan="2" title="Unidad" style="width:100px">Unid.</th>
          <th rowspan="2" title="Precio Unitario" style="width:100px">P.U.</th>
          <th rowspan="2" style="width:100px" ng-if="$ctrl.options.cabecera.version_inicial">&nbsp;</th>
          <th rowspan="2" style="width:100px" ng-if="$ctrl.options.cabecera.version_inicial">&nbsp;</th>
          <th rowspan="2" style="width:100px" ng-if="$ctrl.options.cabecera.version_anterior">&nbsp;</th>
          <th rowspan="2" style="width:100px" ng-if="$ctrl.options.cabecera.version_anterior">&nbsp;</th>
          <th colspan="2" class="text-center" style="width:200px">Contrato Modificatorio</th>
          <th rowspan="2" colspan="2" class="text-center" style="width:200px">
            <button class="btn btn-link text-success ml-1  pl-1 pr-1" ng-click="$ctrl.adicionarItem($ctrl.modulo)" ng-if="!$ctrl.modoVista && $ctrl.options.adicionar===true" uib-tooltip="Nuevo Item">
              <i class="fa fa-plus-square-o"></i> Adicionar Item
            </button>
            <br>Acciones
          </th>
        </tr>
        <tr>
          <th title="Cantidad" style="width:100px">Cant.</th>
          <th style="width:100px">Total (Bs)</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in $ctrl.modulo.items | orderBy:'nro_item'"
          ng-class="item.falta_ejecutar_fis === 0 && item.falta_ejecutar_fin !== 0 ? 'observado' : ''">
          <td ng-class="$ctrl.getMgColor(item)" title="{{$ctrl.getTitle(item)}}">{{item.nro_item}}</td>
          <td class="modificacion-input2">
            <c-input name="item_nombre_{{$index}}" ng-model="item.nombre" maxlength="150" ng-disabled="!item.edicion"></c-input>
          </td>
          <td class="modificacion-input"  title="{{item.unidad.descripcion}}">
            <c-select name="item_unidad_{{$index}}" ng-model="item.unidad_medida" options="$ctrl.unidades" key-value="codigo" ng-disabled="!item.edicion"></c-select>
          </td>
          <td class="modificacion-input">
            <c-input-numeric name="item_precio_{{$index}}" ng-model="item.precio_unitario"
                             ng-minvalue="0" ng-maxvalue="999999" ng-decimals="2"
                             ng-disabled="!item.edicion">
            </c-input-numeric>
          </td>
          <td ng-if="$ctrl.options.cabecera.version_inicial">&nbsp;</td>
          <td ng-if="$ctrl.options.cabecera.version_inicial">&nbsp;</td>
          <td ng-if="$ctrl.options.cabecera.version_anterior">&nbsp;</td>
          <td ng-if="$ctrl.options.cabecera.version_anterior">&nbsp;</td>
          <td class="modificacion-input" ng-class="{'warning':(item.cantidad!=item.version_anterior.cantidad),'danger':item.error}">
            <c-input-numeric name="item_cantidad_{{$index}}" ng-model="item.cantidad"
                             ng-minvalue="1" ng-maxvalue="1" ng-decimals="2"
                             ng-disabled="!item.edicion" ng-if="item.unidad_medida === 'UN_GLOBAL'">
            </c-input-numeric>
            <c-input-numeric name="item_cantidad_{{$index}}" ng-model="item.cantidad"
                             ng-minvalue="1" ng-maxvalue="999999" ng-decimals="2"
                             ng-disabled="!item.edicion" ng-if="item.unidad_medida === 'UN_PIEZA' || item.unidad_medida === 'UN_PUNTO'">
            </c-input-numeric>
            <c-input-numeric name="item_cantidad_{{$index}}" ng-model="item.cantidad"
                             ng-minvalue="0" ng-maxvalue="999999" ng-decimals="2"
                             ng-disabled="!item.edicion" ng-if="item.unidad_medida !== 'UN_GLOBAL' && item.unidad_medida !== 'UN_PIEZA' && item.unidad_medida !== 'UN_PUNTO'">
            </c-input-numeric>
            <!-- <c-input name="cantidad" ng-model="item.cantidad" ng-blur="$ctrl.modificarCantidadItem(item)"></c-input> -->
          </td>
          <td ng-class="{'warning':(item.cantidad!=item.version_anterior.cantidad),'danger':item.error}"><strong>{{(item.cantidad*item.precio_unitario) | number:2}}</strong></td>
          <td style="width:100px">
            <button class="btn btn-link text-success ml-1 pl-1 pr-1" ng-click="$ctrl.verPdfItem(item,'APU')" ng-disabled="!item.analisis_precios"
              ng-if="item.analisis_precios" uib-tooltip="{{item.analisis_precios?'Ver analisis de precios unitarios':'Sin documento'}}">
              <i class="fa" ng-class="item.analisis_precios?'fa-file-text':'fa-file-text-o'"></i>
            </button>
            <button class="btn btn-link text-success ml-1 pl-1 pr-1" ng-click="$ctrl.cargarPdfItem(item,'APU')"
              ng-if="!item.edicion && !$ctrl.modoVista" uib-tooltip="Cargar analisis de precios unitarios">
              <i class="fa fa-arrow-circle-up"></i>
            </button>
          </td>
          <td style="width:100px">
            <button class="btn btn-link text-info ml-1 pl-1 pr-1" ng-click="$ctrl.verPdfItem(item,'ET')" ng-disabled="!item.especificaciones"
              ng-if="item.especificaciones" uib-tooltip="{{item.especificaciones?'Ver especificaciones técnicas':'Sin documento'}}">
              <i class="fa" ng-class="item.especificaciones?'fa-file-text':'fa-file-text-o'"></i>
            </button>
            <button class="btn btn-link text-info ml-1 pl-1 pr-1" ng-click="$ctrl.cargarPdfItem(item,'ET')"
              ng-if="!item.edicion && !$ctrl.modoVista" uib-tooltip="Cargar especificaciones">
              <i class="fa fa-upload"></i>
            </button>
            <br>
            <button class="btn btn-link text-primary ml-1 pl-1 pr-1" ng-click="item.edicion = true"
              ng-if="!item.edicion && !$ctrl.modoVista" uib-tooltip="Editar">
              <i class="fa fa-edit"></i>
            </button>
            <button class="btn btn-link text-success ml-1 pl-1 pr-1"
              ng-click="!item.id_item? $ctrl.guardarItem(item, $index, $parent.$parent.$index, modulo) : $ctrl.actualizarItem(item, $index, modulo)"
              ng-if="item.edicion && !$ctrl.modoVista" uib-tooltip="Guardar">
              <i class="fa fa-save"></i>
            </button>
            <button class="btn btn-link text-danger ml-1 pl-1 pr-1" ng-click="$ctrl.eliminarItem(item, $index, modulo)"
              ng-if="!$ctrl.modoVista" uib-tooltip="Eliminar">
              <i class="fa fa-trash-o"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-form>
