.ui-file-upload {
    canvas {
        background-color: #f3f3f3;
        -webkit-box-shadow: 3px 3px 3px 0 #e3e3e3;
        -moz-box-shadow: 3px 3px 3px 0 #e3e3e3;
        box-shadow: 3px 3px 3px 0 #e3e3e3;
        border: 1px solid #c3c3c3;
        height: 100px;
        margin: 0;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li:last-child md-card {
            margin: 0;
        }
    }

    h2 {
        font-weight: 500;
        font-size: 1rem;
        margin: 0 0 5px;
    }

    .ui-file-container {
        font-size: 0.8rem;

        .row {
            .col-md-4 {
                padding-right: 0;
            }

            .col-md-8 {
                padding-left: 5px;
            }
        }

        p {
            margin-bottom: 3px;
        }
    }

    md-card {
        margin: 0 0 10px;
    }

    > md-card {
        background-color: #f6f6f6;
    }

    .zone {
        background-color: #f0f0f0;
        border: 3px dashed #bbb;
        box-sizing: border-box;
        color: #bbb;
        font-size: 1.12rem;
        font-weight: 500;
        height: 130px;
        line-height: 1.3rem;
        margin-bottom: 10px;
        padding: 30px 15px;
        text-align: center;
        width: 100%;
    }

    .nv-file-over, .other-over-zone {
        background-color: #e0e0e0;
        color: white;
        border-color: #aaa;
    }

    .ui-file-buttons {
        .btn {
            margin: 0 0 3px;
        }
    }

    .ui-file-buttons-all {
        .ui-button {
            margin: 0;
        }
    }

    .ui-file-img {
        padding: 5px;
        text-align: center;
        border: 1px dashed #ddd;
        overflow: hidden;

        & + div {
            padding-left: 10px;
        }
    }

    .ui-file-card {
        padding-bottom: 10px;
    }

    .progress {
    	margin-bottom: 3px;
    	border-radius: 0;

    	.progress-bar {
    		height: .6rem;
    	}
    }

    .btn {
      &.btn-width {
        width: 100%;
        margin-top: 4px;
      }
    }

    .noselect {
      cursor: pointer;
      -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
         -khtml-user-select: none; /* Konqueror HTML */
           -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Non-prefixed version, currently
                                      supported by Chrome and Opera */
    }

}
