<uib-tabset active="active">
  <uib-tab heading="Cumplimiento de contrato">
    <div class="alert alert-info" ng-if="!$ctrl.modoVista">
      <i class="fa fa-info-circle"></i>
      <span>El registro de las boletas por concepto de garantías de Cumplimiento de Contrato es obligatorio.
        El monto es calculado de acuerdo al 7% del monto del contrato (<strong>{{$ctrl.proyecto.monto_total | formatDecimal}}</strong>)</span>
    </div>
    <boleta-garantia proyecto="$ctrl.proyecto"
              datos="$ctrl.cContrato"
              porcentaje="7"
              monto="$ctrl.monto_ccontrato"
              boletas="$ctrl.boletasCcontrato"
              tipo="TB_CUMPLIMIENTO_CONTRATO"
              modo-vista="!$ctrl.Proyecto.esEditable('boletas')">
    </boleta-garantia>
  </uib-tab>
  <uib-tab heading="Anticipo">
    <div class="alert alert-info" ng-if="!$ctrl.modoVista">
      <i class="fa fa-info-circle"></i>
      <span>Si la empresa solicita anticipo registrar el porcentaje respecto al monto del contrato (<strong>{{$ctrl.proyecto.monto_total | formatDecimal}}</strong>),
        en caso contrario registrar el porcentaje en cero "0".</span>
    </div>
    <boleta-garantia proyecto="$ctrl.proyecto"
              datos="$ctrl.anticipo"
              porcentaje="$ctrl.proyecto.porcentaje_anticipo"
              monto="$ctrl.proyecto.anticipo"
              boletas="$ctrl.boletasAnticipo"
              tipo="TB_CORRECTA_INVERSION"
              modo-vista="!$ctrl.Proyecto.esEditable('boletas')">
    </boleta-garantia>
  </uib-tab>
</uib-tabset>
