<section class="fs-sm" ng-if="$ctrl.historialEmpresas">
  <h3 class="text-center">
    Historial de Empresas
  </h3>
  <div class="row">
    <div class="col-md-6 text-left">
      <table class="table mod-t mod-t-b mb-0">
        <tbody>
          <tr ng-repeat="avance in $ctrl.historico.proyectos">
            <th ng-dblclick="$ctrl.verSupervision(avance)" title="{{avance.empresa}}">Avance Físico ({{$index+1}}° Empresa)</th>
            <td>{{ avance.total_acumulado_fis/$ctrl.historico.monto_total_proyecto*100 | number:2 }}%</td>
          </tr>
          <tr>
            <th>Total avance físico:</th>
            <td>{{ $ctrl.historico.porcentaje_total_fis | number:2}}%</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <table class="table mod-t mod-t-b mb-0">
        <tbody>
          <tr ng-repeat="avance in $ctrl.historico.proyectos">
            <th ng-dblclick="$ctrl.verSupervision(avance)" title="{{avance.empresa}}">Avance Financiero ({{$index+1}}° Empresa)</th>
            <td>{{ avance.monto_avance/$ctrl.historico.monto_total_proyecto*100 | number:2 }}%</td>
          </tr>
          <tr>
            <th>Total avance financiero:</th>
            <td>{{ $ctrl.historico.porcentaje_total_fin | number:2 }}%</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>