<div class="modal-header">
  <h5 class="modal-title"><i class="fa fa-table"></i> Cómputos Métricos - {{$ctrl.supervision.proyecto.nombre}}</h5>
  <button type="button" class="close" data-dismiss="modal" ng-click="$ctrl.cerrar()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

  <computo-proyecto supervision="$ctrl.supervision"
                    item="$ctrl.item"
                    computos="$ctrl.computos"
                    modo-vista="$ctrl.modoVista"
                    existe-cambios=$ctrl.existeCambiosItem
                    modificados="$ctrl.modificados">
  </computo-proyecto>

</div>

<div class="modal-footer">
  <button type="button" md-effect class="btn btn-secondary" ng-click="$ctrl.cerrar()" ng-if="!$ctrl.modoVista">
    <i class="fa fa-close"></i> Cancelar
  </button>
  <button type="submit" md-effect class="btn btn-primary" validar-formulario="formAdjudicacion" ng-click="$ctrl.modoVista? $ctrl.cerrar() : $ctrl.guardar()">
    <i class="fa fa-check"></i> Aceptar
  </button>
</div>
