@import './../../../common/styles/sass/_variables.scss';
.planilla-proy {
  .success {
    background: $colorSuccess;
  }
  .warning {
    background: $colorWarning !important;
  }
  .primary {
    background: lighten($colorPrimary, 25%);
  }
  .info {
    background: lighten($colorInfo, 35%);
  }
  .danger {
    background: lighten($colorDanger, 5%);
  }
  .modificado {
    background: $colorInfo !important;
    color: #fff !important;
  }
  /*
  .horizontal-collapse {
    height: 70px;
  }
  .navbar-collapse.in {
    overflow-y: hidden;
  }
  */
  .collapse.in {
    display: block;
  }
  .mod-h {
    cursor: pointer;
  }

  .mod-t-c {
    tbody > tr {
      cursor: pointer;
    }
  }
  .mod-t {
    thead > tr:first-child > th {
      border-top: 0px;
    }
    thead > tr > th, tbody > tr > td, tfoot > tr > td {
      padding: 5px;
      border: 1px solid #ccc;
    }
    tbody > tr {
      &.observado {
        background-color: rgba(226, 129, 129, 0.18);
      }
      &.completado {
        background-color: lighten($colorSuccess, 40%);
      }
      &.avanzado {
        background-color: lighten($colorInfo, 70%);
      }
    }
    td.bl-success {
      border-left: solid 7px $colorSuccess;
    }
    td.bl-warning {
      border-left: solid 7px $colorWarning;
    }
    td.bl-primary {
      border-left: solid 7px lighten($colorPrimary, 25%);
    }
    td.bl-info {
      border-left: solid 7px lighten($colorInfo, 35%);
    }
    td.orden-trabajo, th.orden-trabajo {
      background: #DBDFF7;
    }
    td.orden-cambio, th.orden-cambio {
      background: #C8E6C9;
    }
    td.cmodificatorio, th.cmodificatorio {
      background: #FFF59D;
    }
  }

  .mod-t-b {
    th {
      border: 1px solid #ccc;
    }
    td {
      border: 1px solid #ccc !important;
    }
    th.mot-t-sin-b {
      border: 0px;
    }
  }

  .texto {
    font-size:0.9em;
  }

  .right {
    float: right;
  }
  label.btn.btn-primary.active {
    background-color: #689f38 !important;
    border-color: #689f38 !important;
  }
}
