<div class="row">
  <div class="col-md-12 col-lg-6">
    <ui-input-file name="doc_convenio" label="Documento base de contratación"
    file-base64="$ctrl.proyecto.doc_base_contratacion"
    types="pdf" mime-types=".pdf" maxfiles="1" maxsize="3MB"
    ng-if="!$ctrl.estaRegistrado() && $ctrl.Proyecto.esEditable('doc_base_contratacion')"></ui-input-file>

    <button md-effect class="btn btn-secondary" type="submit" ng-click="$ctrl.verDocumento()"
    ng-if="$ctrl.modoVista || $ctrl.estaRegistrado()">
      <i class="fa fa-file-pdf-o"></i> Ver DBC
    </button>

  </div>
</div>
