<div class="modal-header">
  <h5 class="modal-title"><i class="fa fa-plus-circle"></i> Reasignación</h5>
  <button type="button" class="close" data-dismiss="modal" ng-click="$ctrl.cerrar()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>
    Usuario/a actual:
  </p>
  <div class="row">
    <div class="md-input-group col-12">
      {{$ctrl.transicion.usuario_asignado.persona.nombres}}
      {{$ctrl.transicion.usuario_asignado.persona.primer_apellido}}
      {{$ctrl.transicion.usuario_asignado.persona.segundo_apellido}}
      <br><strong>{{$ctrl.transicion.usuario_asignado_rol.descripcion}}</strong>
    </div>
  </div>

  <br><br>
  <ng-form name="formUsuario">
    <div class="row">
      <div class="md-input-group col-md-12">
        <c-select name="nuevo_usuario_asignado"
        label="Nuevo usuario/a asignado"
        ng-model="$ctrl.datos.seleccionado"
        options="$ctrl.usuariosParaAsignar"
        field="nombre"
        ng-required="true"></c-select>
      </div>
    </div>
  </ng-form>
  <div class="alert alert-info">
    <i class="fa fa-info-circle"></i> Tome en cuenta que al reasignar al usuario ya no podrá acceder a los datos del proyecto. Transfiriendo todos los permisos y responsabilidades al nuevo usuario.
  </div>
</div>

<div class="modal-footer">
  <button type="button" md-effect class="btn btn-secondary" ng-click="$ctrl.cerrar()">
    <i class="fa fa-close"></i> Cancelar
  </button>
  <button type="submit" md-effect class="btn btn-primary" ng-click="$ctrl.reasignarUsuario()" validar-formulario="formUsuario">
    <i class="fa fa-send"></i> Enviar cambio
  </button>
</div>
