<div class="modal-header">
  <h5 class="modal-title"><i class="fa {{$ctrl.icon}}"></i> {{$ctrl.title}}</h5>
  <button type="button" class="close" data-dismiss="modal" ng-click="$ctrl.cerrar()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="alert alert-info" ng-if="$ctrl.data.mensajeInformacion">
    <i class="fa fa-info-circle"></i>
    <span ng-bind-html="$ctrl.data.mensajeInformacion"></span>
  </div>
  <div ng-if="$ctrl.data.cargarItems">

    <button md-effect type="button" class="btn btn-success btn-sm mr-1" uib-tooltip="Descargar archivo modelo .ods de items"
    download-file="{{$ctrl.descargas.modelo.ruta}}" file-name="{{$ctrl.descargas.modelo.nombre}}" download-type="ods">
    <i class="fa fa-download"></i> Modelo ODS</button>

    <button md-effect type="button" class="btn btn-success btn-sm" uib-tooltip="Descargar manual para crear un archivo .ods de items"
    download-file="{{$ctrl.descargas.manual.ruta}}" file-name="{{$ctrl.descargas.manual.nombre}}">
    <i class="fa fa-download"></i> Manual ODS</button>
  </div>

  <ng-form name="formItem">
    <div class="row">

      <div class="md-input-group col-md-12">
        <ui-input-file name="doc_resmin_cife"
          file-base64="$ctrl.archivo"
          types="{{$ctrl.data.formatos}}"
          mime-types="{{$ctrl.data.tipos}}"
          maxfiles="1" maxsize="3MB"
          ng-required="true">
        </ui-input-file>
      </div>

    </div>
  </ng-form>
</div>
<div class="modal-footer">
  <button type="button" md-effect class="btn btn-secondary" ng-click="$ctrl.cerrar()">
    <i class="fa fa-close"></i> Cancelar
  </button>
  <button type="button" md-effect class="btn btn-primary" validar-formulario="formItem"
    ng-click="$ctrl.registrar()">
    <i class="fa fa-upload"></i> {{$ctrl.labelOk}}
  </button>
</div>
