<section>
  <h6 class="title-section m-top">
    <i class="fa fa-hand-o-right"></i> Datos del Convenio
  </h6>
  <div class="row">
    <div class="md-input-group col-md-4">
      <c-input name="nro_convenio" label="Número" ng-model="$ctrl.proyecto.nro_convenio"
      ng-minlength="3" maxlength="100"
      ng-required="!$ctrl.modoVista && $ctrl.Proyecto.esRequerido('nro_convenio')"
      ng-disabled="$ctrl.modoVista || !$ctrl.Proyecto.esEditable('nro_convenio')"></c-input>
    </div>

    <div class="md-input-group col-md-4">
      <c-date name="fecha_suscripcion" label="Fecha de suscripción" ng-model="$ctrl.proyecto.fecha_suscripcion_convenio"
      ng-required="!$ctrl.modoVista && $ctrl.Proyecto.esRequerido('fecha_suscripcion_convenio')"
      ng-disabled="$ctrl.modoVista || !$ctrl.Proyecto.esEditable('fecha_suscripcion_convenio')"></c-date>
    </div>

    <div class="md-input-group col-md-4">
      <c-input-numeric name="plazo_ejecucion_convenio" label="Plazo de ejecución (días calendario)" ng-model="$ctrl.proyecto.plazo_ejecucion_convenio"
      ng-minvalue="0" ng-maxvalue="999999" ng-formatting="false" ng-decimals="0"
      ng-required="!$ctrl.modoVista && $ctrl.Proyecto.esRequerido('plazo_ejecucion_convenio')"
      ng-disabled="$ctrl.modoVista || !$ctrl.Proyecto.esEditable('plazo_ejecucion_convenio')"></c-input-numeric>
    </div>

    <div class="md-input-group col-md-4">
      <c-input-money name="monto_upre" label="Monto financiado UPRE" ng-model="$ctrl.proyecto.monto_upre"
      ng-minvalue="0"
      ng-required="!$ctrl.modoVista && $ctrl.Proyecto.esRequerido('monto_upre')"
      ng-disabled="$ctrl.modoVista || !$ctrl.Proyecto.esEditable('monto_upre')"></c-input-money>
    </div>
    <div class="md-input-group col-md-4">
      <c-input-money name="monto_contraparte" label="Monto financiado contraparte" ng-model="$ctrl.proyecto.monto_contraparte"
      ng-minvalue="0"
      ng-required="!$ctrl.modoVista && $ctrl.Proyecto.esRequerido('monto_contraparte')"
      ng-disabled="$ctrl.modoVista || !$ctrl.Proyecto.esEditable('monto_contraparte')"></c-input-money>
    </div>
    <div class="md-input-group col-md-4">
      <c-input-money name="monto_total_convenio" label="Monto total de convenio" ng-model="$ctrl.proyecto.monto_total_convenio"
      ng-minvalue="0"
      ng-required="!$ctrl.modoVista && $ctrl.Proyecto.esRequerido('monto_total_convenio')"
      ng-disabled="$ctrl.modoVista || !$ctrl.Proyecto.esEditable('monto_total_convenio')"></c-input-money>
    </div>

    <div class="col-lg-6 col-md-12" ng-if="$ctrl.proyecto.tipo == 'TP_CIFE'">
      <archivo name="doc_resmin_cife" label="Resolución Ministerial" ng-model="$ctrl.proyecto.doc_resmin_cife"
              types="pdf" mime-types=".pdf" maxsize="3MB"
              url="{{$ctrl.archivos.urlDocResolucion}}"
              url-descarga="{{$ctrl.archivos.urlDocResolucionDescarga}}"
              cambiar="$ctrl.Proyecto.esEditable('doc_resmin_cife')"
              modo-vista="!$ctrl.Proyecto.esEditable('doc_resmin_cife')">
      </archivo>
    </div>

    <div class="col-md-12 col-lg-6">
      <archivo name="doc_convenio" label="Convenio" ng-model="$ctrl.proyecto.doc_convenio"
              types="pdf" mime-types=".pdf" maxsize="3MB"
              url="{{$ctrl.archivos.urlDocConvenio}}"
              url-descarga="{{$ctrl.archivos.urlDocConvenioDescarga}}"
              cambiar="$ctrl.Proyecto.esEditable('doc_convenio')"
              modo-vista="!$ctrl.Proyecto.esEditable('doc_convenio')">
      </archivo>
    </div>
  </div>
</section>
