<div class="container">
  <h2 class="page-title">
    <!-- <i class="fa fa-bars"></i> -->
    <i class="fa fa-reply" ui-sref="usuarios"></i>
    <!-- <small>Bandeja de planillas</small> -->
  </h2>
  <div class="card">
    <ng-form name="usuarioForm">
      <div class="card-body">
        <h4>Datos de Usuario</h4>
        <documento-identidad ng-model="$ctrl.usuario.persona"></documento-identidad>
        <!-- <div class="row">
          <div class="col-sm-6">
            <c-input name="usuario" label="Usuario" ng-model="$ctrl.usuario.usuario"
              ng-minlength="3" maxlength="100" ng-required="true" ng-disabled="false">
            </c-input>
          </div>
          <div class="col-sm-6">

          </div>
        </div> -->
        <div class="row">
          <div class="col-sm-12">
            <c-input name="cargo" label="Cargo" ng-model="$ctrl.usuario.cargo" maxlength="200" ng-required="true"></c-input>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <c-input name="correo" label="Correo electrónico" ng-model="$ctrl.usuario.persona.correo"
              ng-minlength="3" maxlength="100" ng-required="true" ng-disabled="false">
            </c-input>
            <c-input name="telefono" label="Celular/Teléfono" ng-model="$ctrl.usuario.persona.telefono"
              ng-minlength="7" maxlength="100" ng-required="true" ng-disabled="false">
            </c-input>
            <h5>Roles</h5>
            <c-checkbox name="{{'rol_'+rol.id_rol}}" label="{{rol.nombre}}" ng-model="rol.valor" ng-repeat="rol in $ctrl.roles"></c-checkbox>
          </div>
          <div class="col-sm-12 col-md-6">
            <c-select name="estado" label="Estado" placeholder="" ng-model="$ctrl.usuario.estado"  key-value="value"
              ng-required="true" ng-disabled="false" options="$ctrl.estados" field="text">
            </c-select>
            <c-input name="direccion" label="Dirección" ng-model="$ctrl.usuario.persona.direccion"
              ng-minlength="7" maxlength="100" ng-required="true" ng-disabled="false">
            </c-input>
            <!-- <c-select name="tipo_departamento" label="Tipo de departamento" placeholder="" ng-model="$ctrl.usuario.tipo_departamento"
              ng-required="true" ng-disabled="false" options="$ctrl.tipos_departamento" field="text">
            </c-select> -->
            <h5>Departamento(s)</h5>
            <div class="row">
              <div class="col-sm-12 col-lg-6" ng-repeat="dep in $ctrl.departamentos">
                <c-checkbox name="{{'departamento_'+dep.nombre}}" label="{{dep.nombre}}" ng-model="dep.valor"></c-checkbox>
              </div>
            </div>

            <!-- <button md-effect type="button" class="btn" ng-click="$ctrl.nombreDel()" ng-if="$ctrl.isFill()">
              <i class="fa fa-edit"></i>Cambiar
            </button> -->
          </div>
        </div>
        <div class="row mx-0 mt-4">
          <div class="col"></div>
          <button md-effect type="button" class="btn btn-success" ng-click="$ctrl.guardarDatos(usuarioForm)">
            <i class="fa fa-save"></i> Guardar datos
          </button>
        </div>
      </div>
    </ng-form>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <button md-effect type="button" class="btn btn-info" uib-tooltip="Reenviar correo de confirmación" ng-click="$ctrl.reenviarContrasenia()">
            <i class="fa fa-share-square-o"></i> Regenerar y enviar contraseña
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
