
<form name="form">
  <div class="row">
    <div class="col">
      <div class="alert alert-info">
        <i class="fa fa-info-circle"></i> Para generar el informe debe llenar los siguientes datos.
      </div>
    </div>
    <div class="col-md-12">
      <c-input name="director" label="Director General Ejecutivo" ng-model="$ctrl.proyecto.informe.director" ng-required="true" ng-disabled="$ctrl.modoVista"></c-input>
    </div>
  </div>
  <h5><b>METAS Y RESULTADOS</b></h5>
  <div class="row">
    <div class="col-md-12">
      <c-textarea name="metas_resultados" label="" ng-model="$ctrl.proyecto.informe.metas_resultados" ng-required="true" ng-disabled="$ctrl.modoVista"></c-textarea>
    </div>
  </div>
  <h5><b>INDICADORES DE PROYECTO</b></h5>
  <div class="row">
    <div class="col-md-3">
      <c-input name="descripcion" label="Descripción" ng-model="$ctrl.proyecto.informe.indicador.descripcion" ng-required="true" ng-disabled="$ctrl.modoVista"></c-input>
    </div>
    <div class="col-md-3">
      <c-input-numeric name="linea_base" label="Linea Base" ng-model="$ctrl.proyecto.informe.indicador.linea_base" ng-required="true" ng-disabled="$ctrl.modoVista" ng-minvalue="0" ng-maxvalue="99999999"></c-input-numeric>
    </div>
    <div class="col-md-3">
      <c-input name="proceso" label="Indicador de Proceso" ng-model="$ctrl.proyecto.informe.indicador.proceso" ng-required="true" ng-disabled="true"></c-input>
    </div>
    <div class="col-md-3">
      <c-input name="impacto" label="Indicador de Impacto" ng-model="$ctrl.proyecto.informe.indicador.impacto" ng-required="true" ng-disabled="true"></c-input>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <c-input-numeric name="ge_directo" label="Generación de Empleo Directo" ng-model="$ctrl.proyecto.informe.indicador.ge_directo" ng-minvalue="0" ng-maxvalue="99999999" ng-formatting="false" ng-decimals="0"></c-input-numeric>
    </div>
    <div class="col-md-3">
      <c-input-numeric name="ge_indirecto" label="Generación de Empleo Indirecto" ng-model="$ctrl.proyecto.informe.indicador.ge_indirecto" ng-minvalue="0" ng-maxvalue="99999999" ng-formatting="false" ng-decimals="0"></c-input-numeric>
    </div>
  </div>
</form>
<div class="row">
<section ng-init="$ctrl.initPlantilla()" class="col-xl-10" style="max-height:600px;overflow:auto">
  <h5><b>EVALUACION TECNICA DEL PROYECTO</b></h5>
  <!-- <h5><b>Cumplimiento de criterios generales de elegibilidad</b></h5>
  <div class="form-evaluacion table-responsive">
    <table>
      <tr>
        <td class="titulo backcolor">N°</td>
        <td class="titulo backcolor">Criterio</td>
        <td class="titulo backcolor">Medios de verificación</td>
      </tr>
      <tr ng-repeat="(r,row) in $ctrl.proyecto.informe.criterios">
        <td ng-repeat="(c,col) in row.cols" colspan="{{col.colspan}}" rowspan="{{col.rowspan}}" ng-class="col.class">
          <strong ng-bind-html="col.titulo"></strong>
          <div ng-if="col.contenido.type=='textarea'"><textarea ng-model="col.contenido.value" cols="40" rows="5" ng-disabled="$ctrl.modoVista"></textarea></div>
          <div ng-if="!col.contenido.type" ng-bind-html="col.contenido"></div>
        </td>
      </tr>
    </table>
  </div>
  <hr> -->
  <div class="form-evaluacion table-responsive">

  </div>
  <h5><b>Valoración de la sostenibilidad técnica, económica, social, ambiental y organizativa institucional del programa o proyecto</b></h5>
  <div class="form-evaluacion table-responsive">
    <table>
      <tr>
        <td class="titulo backcolor" rowspan="2">Indicador</td>
        <td class="titulo backcolor" rowspan="2">Parámetro</td>
        <td class="titulo backcolor" colspan="2">Valoración</td>
      </tr>
      <tr>
        <td class="titulo backcolor">CUMPLE</td>
        <td class="titulo backcolor">NO CUMPLE</td>
      </tr>
      <tr ng-repeat="(r,row) in $ctrl.proyecto.informe.valoracion">
        <td ng-repeat="(c,col) in row.cols" colspan="{{col.colspan}}" rowspan="{{col.rowspan}}" class="{{col.class}}" ng-class="{'center':col.contenido.type}">
          <strong ng-bind-html="col.titulo"></strong>
          <div ng-if="col.contenido.type=='inputMoney'">
            <c-input-money name="{{col.contenido.value}}{{r}}" ng-model="col.contenido.value"
              ng-disabled="$ctrl.modoVista"
              ng-decimals="2">
            </c-input-money>
          </div>
          <div ng-if="col.contenido.type=='radio'" ng-click="$ctrl.radioChange(row.cols, c)" class="btn" ng-class="[$ctrl.radioColor(col.contenido)]" style="width:50px"><i class="fa" ng-class="{'fa-check-circle-o':col.contenido.value}"></i></div>
          <div ng-if="col.contenido.type=='textarea'"><textarea ng-model="col.contenido.value" cols="40" rows="5" ng-disabled="$ctrl.modoVista"></textarea></div>
          <div ng-if="col.contenido.type=='select'" style="text-align: left;max-width: 300px;min-width: 300px;min-height: 180px;">
            <c-select ng-model="col.contenido.value"
            options="col.contenido.options"
            label="{{col.contenido.label}}"
            ng-disabled="$ctrl.modoVista"></c-select>
          </div>
          <div ng-if="!col.contenido.type" ng-bind-html="col.contenido"></div>
        </td>
      </tr>
    </table>
  </div>
</section>
<hr>
<section class="col-xl-2">
  <button type="button" ng-if="!$ctrl.modoVista" class="btn btn-primary" ng-click="$ctrl.generarInformePdf(form)"><i class="fa fa-file-pdf-o"></i> Generar<br>Informe</button>
  <button md-effect type="button" class="btn btn-primary" uib-tooltip="Descargar resumen" ng-if="$ctrl.documentos.length > 0 && $ctrl.Usuarios.esTecnicoResponsable()"
          download-file="{{ $ctrl.descarga.urlDescarga }}" file-name="{{ $ctrl.descarga.nombreDescarga }}">
    <i class="fa fa-download"></i> Informe<br>Resumen
  </button>
  <hr>
  <div class="row">
    <div class="col">Informe de evaluación</div>
  </div>
  <div class="row">
      <div class="col-md-6 col-xl-12" ng-repeat="doc in $ctrl.documentos" ng-if="doc.estado!=='INACTIVO' || $ctrl.esTecEval">
        <div class="btn btn-outline-tertiary" style="width:100%;margin-top:2px;">
          <div ng-if="doc.estado!=='INACTIVO'"><span ng-click="$ctrl.verInforme(doc)">{{ doc.fecha_documento | date: 'dd/MM/yyyy' }}</span><span ng-click="$ctrl.corregirFecha(doc)" ng-if="$ctrl.esTecEval"> - <i class="fa fa-calendar-check-o text-warning" uib-tooltip="Corregir fecha"></i></span></div>
          <div ng-if="$ctrl.esTecEval" style="font-size:8px;color:#000;text-transform:none;"><span ng-click="$ctrl.estado(doc)" ng-if="$ctrl.esTecEval"><i class="fa" ng-class="{'fa-check-square-o': doc.estado!=='INACTIVO', 'fa-square-o': doc.estado==='INACTIVO'}" uib-tooltip="Visible" style="font-size:10px;"></i> - </span>Creado: {{ doc._fecha_creacion | date: 'dd/MM/yyyy HH:mm' }}</div>
        </div>
      </div>
  </div>
</section>
</div>
<hr>
<style>
  .form-evaluacion .titulo {
    text-align: center;
    font-weight: bold;
  }
  .form-evaluacion .center {
    text-align: center;
  }
  .form-evaluacion .right {
    text-align: right;
  }
  .form-evaluacion .backcolor {
    background-color: #BDD7EE;
    border: 1px solid darkblue;
  }
  .form-evaluacion table {
    width: 100%;
  }
  .form-evaluacion table th,
  .form-evaluacion table th {
    background-color: #BDD7EE;
    text-align: center;
  }
  .form-evaluacion table td {
    border: 1px solid #000;
    padding-left: 4px;
    padding-right: 4px;
  }
  .form-evaluacion table td .btn {
    border: 1px solid #aaa;
  }
  .form-evaluacion table .w240 {
    width: 240px;
  }
</style>
