<div class="modal-header">
  <h5 class="modal-title"><i class="fa fa-list"></i> {{$ctrl.proyecto.nombre}}</h5>
  <button type="button" class="close" data-dismiss="modal" ng-click="$ctrl.cerrar()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p class="text-center"><strong>COMPONENTES</strong></p>
  <div class="crud-table mt-3">
    <table class="table table-striped table-hover ng-table">
      <tbody>
        <tr ng-repeat="adjudicacion in $ctrl.proyecto.adjudicaciones" ng-if="$ctrl.puedeCrearPlanilla(adjudicacion)">
          <td data-title="'Acción'">
            <button md-effect type="button" class="btn btn-success btn-sm mt-1"
                ng-click="$ctrl.nuevaPlanilla($ctrl.proyecto,adjudicacion.id_adjudicacion)" uib-tooltip="Crear Planilla"
                ng-if="($ctrl.proyecto.estado_proyecto === 'APROBADO_FDI' || $ctrl.proyecto.estado_proyecto === 'EN_EJECUCION_FDI') && $ctrl.Usuarios.esSupervisor() && $ctrl.puedeCrearPlanilla(adjudicacion)">
                <i class="fa fa-plus"></i>
              </button>
          </td>          
          <td>{{adjudicacion.referencia}}</td>
          <td>
            <div ng-if="adjudicacion.supervision.length>0">
              <strong class="resaltado">PLANILLA: {{adjudicacion.supervision[0].nro_supervision}}</strong><br>
              {{adjudicacion.supervision[0].estado_actual.nombre}} <br>
              <span ng-if="supervision.observacion_proceso.mensaje" class="text-danger"> {{ adjudicacion.supervision[0].observacion_proceso.mensaje }} </span>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="modal-footer">
  <button type="button" md-effect class="btn btn-primary" ng-click="$ctrl.cerrar()">
    <i class="fa fa-check"></i> Aceptar
  </button>
</div>
