<div class="modal-header">
  <h5 class="modal-title"><i class="fa fa-list"></i> {{$ctrl.proyecto.nombre}}</h5>
  <button type="button" class="close" data-dismiss="modal" ng-click="$ctrl.cerrar()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p class="text-center"><strong>PLANILLAS DE AVANCE</strong></p>
  <div class="crud-table mt-3">
    <table class="table table-striped table-hover ng-table">
      <thead>
        <tr>
          <td><strong></strong></td>
          <td><strong>Componente</strong></td>
          <td><strong>Nombre</strong></td>
          <td><strong>Estado</strong></td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="supervision in $ctrl.proyecto.supervisiones" ng-if="$ctrl.puedeRevisarPlanilla(supervision.adjudicacion.id_adjudicacion)">
          <td data-title="'Acción'">
            <button md-effect type="button" class="btn btn-success btn-noborder btn-sm mb-1"
              uib-tooltip="Ver planilla {{supervision.nro_supervision}}" ng-click="$ctrl.irAPlanilla(supervision)" ng-if="$ctrl.puedeVerPlanilla(supervision.adjudicacion.id_adjudicacion,supervision)">
              <i class="fa fa-eye"></i>
            </button>
            <button md-effect type="button" class="btn btn-success btn-noborder btn-sm mb-1"
              uib-tooltip="Procesar planilla {{supervision.nro_supervision}}" ng-click="$ctrl.irAPlanilla(supervision)" ng-if="$ctrl.puedeProcesarPlanilla(supervision.adjudicacion.id_adjudicacion,supervision)">
              <i class="fa fa-edit"></i>
            </button>
            <button md-effect type="button" class="btn btn-info btn-noborder btn-sm mb-1"
                    uib-tooltip="Descargar planilla" ng-if="$ctrl.planillaEnArchivo(supervision)"
                    download-file="{{supervision.urlPlanillaDescarga}}" file-name="{{supervision.nombrePlanillaDescarga}}">
              <i class="fa fa-file-text"></i>
            </button>
            <button md-effect type="button" class="btn btn-info btn-noborder btn-sm mb-1"
                    uib-tooltip="Descargar planilla (pendiente de aprobación)" ng-if="$ctrl.planillaEnAvance(supervision)"
                    download-file="{{supervision.urlPlanillaDescargaAvance}}" file-name="{{supervision.nombrePlanillaDescarga}}">
              <i class="fa fa-file-text"></i>
            </button>
            <button md-effect type="button" class="btn btn-info btn-noborder btn-sm mb-1"
                    uib-tooltip="Descargar resumen de cómputos métricos" ng-if="supervision.estado_supervision === 'EN_ARCHIVO_FDI'"
                    download-file="{{supervision.urlComputosDescarga}}" file-name="{{supervision.nombreComputosDescarga}}">
              <i class="fa fa-table"></i>
            </button>
          </td>
          <td>{{supervision.adjudicacion.referencia}}</td>
          <td>Planilla {{supervision.nro_supervision}}</td>
          <td>{{supervision.estado_actual.nombre}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="modal-footer">
  <button type="button" md-effect class="btn btn-primary" ng-click="$ctrl.cerrar()">
    <i class="fa fa-check"></i> Aceptar
  </button>
</div>
