<div class="login-container">
    <div class="login-logo"> PROYECTOS </div>
    <div class="login-header">
        {{ $ctrl.flip ? 'Recuperar contraseña' : 'Ingresar al sistema' }}
    </div>
    <div class="card-container">
        <div class="card-flip-container" ng-class="{ 'recovery' : $ctrl.flip, 'empresa' : $ctrl.empresa }">
            <div class="card-flip">
                <div class="side front login-block" ng-class="{'side':$ctrl.flip}" ng-if="!$ctrl.flip">
                    <form name="form" ng-submit="$ctrl.iniciarSesion()">
                        <div class="md-input-group icon">
                            <span class="md-input-group-addon"><i class="fa fa-user"></i></span>
                            <md-input label="Usuario" ng-model="$ctrl.username" name="username" required id="username"></md-input>
                            <div ng-messages="form.username.$error" class="form-error" ng-if="form.username.$touched">
                                <div ng-message="required">El usuario es obligatorio</div>
                            </div>
                        </div>
                        <div class="md-input-group icon">
                            <span class="md-input-group-addon"><i class="fa fa-lock"></i></span>
                            <md-input label="Contraseña" ng-model="$ctrl.password" name="password" type="password" required id="password"></md-input>
                            <div ng-messages="form.password.$error" class="form-error" ng-if="form.password.$touched">
                                <div ng-message="required">La contraseña es obligatoria</div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div class="p-5">
                                <!--
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Recordar sesión</span>
                                </label>
                                -->
                                <br>
                                <a href="" ng-click="$ctrl.recovery()" ng-if="!$ctrl.empresa">¿Olvidó su contraseña?</a>
                            </div>
                            <div class="p-3 text-right">
                                <button md-effect class="btn btn-primary btn-lg" type="submit" validar-formulario-alerta="form">
                                    <i class="fa fa-sign-in"></i> Iniciar sesión
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="side back login-block" ng-class="{'side':!$ctrl.flip}" ng-if="$ctrl.flip">
                    <form ng-submit="$ctrl.recuperarContrasenia()">
                        <div class="md-input-group icon">
                            <span class="md-input-group-addon"><i class="fa fa-user"></i></span>
                            <md-input label="Correo electrónico" ng-model="$ctrl.correo" name="correo"></md-input>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div class="p-5">
                                <br>
                                <a href="" ng-click="$ctrl.goLogin()" class="login-link">Iniciar sesión</a>
                            </div>
                            <div class="p-3 text-right">
                                <button md-effect class="btn btn-primary btn-lg">
                                    <i class="fa fa-repeat"></i> Recuperar contraseña
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
