@import '_theme.scss';
@import '_variables.scss';

.margin-0 {
    margin: 0 !important;
}
.padding-0 {
    padding: 0 !important;
}
.border-0 {
    border: none !important;
}
.relative {
    position: relative !important;
}

.title-section {
  color: #fff;
  background-color: darken($colorSidenav, 5%);
  padding: 10px 15px;
  margin: 0 0 10px;
  text-transform: uppercase;
  &.error {
    background-color: $colorDanger;
  }
}

.m-top {
  margin-top: 0.85em;
}

.steps section {
    display: block;
    margin-top: 35px;
    clear: both;
}

.modal-dialog {
  &.modal-xlg {
    max-width: 1200px;
  }
}

.c-pointer {
    cursor: pointer !important;
}

.btn {
  cursor: pointer;
}

.resaltado {
  background: #FFF59D;
  padding: 3px 2px;
}

.btn-group > .btn.active,
.btn-group-vertical > .btn.active {
  z-index: 1;
}

.both {
  clear: both;
}

.fs-sm {
  font-size: 0.9em;
}

.inactivo {
  cursor: no-drop;
  background-color: #FFF !important;
  color: #BBB;
}
