<button md-effect type="button" class="btn btn-success" ng-click="$ctrl.adicionar()" ng-if="!$ctrl.esEquipoCompleto && !$ctrl.modoVista">
  <i class="fa fa-plus"></i> Agregar
</button>
<div class="crud-table">
  <table class="table table-striped table-hover table-responsive">
    <thead>
      <tr>
        <td>Acciones</td>
        <td>Nombre</td>
        <td>Cargo</td>
        <td>Celular</td>
        <td>Correo electrónico</td>
        <td>Estado</td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="miembro in $ctrl.listaEquipo" ng-class="{'inactivo':miembro.estado!='ACTIVO'}">
        <td>
          <button md-effect type="button" class="btn btn-sm btn-primary" uib-tooltip="Ver datos" ng-click="$ctrl.verDatos(miembro)"><i class="fa fa-eye"></i></button>
          <reconfirmacion-usuario usuario="miembro.usuario" ng-if="$ctrl.esSupervisorOFiscal(miembro) && $ctrl.esResponsableProy"
            api="{{$ctrl.urlReconfirmacion + miembro.id_equipo_tecnico + '/notificar'}}">
          </reconfirmacion-usuario>
          <button md-effect type="button" class="btn btn-sm btn-danger" uib-tooltip="Inhabilitar usuario" ng-click="$ctrl.inactivarUsuario(miembro)" ng-if="$ctrl.esSupervisorOFiscal(miembro) && $ctrl.esResponsableProy"><i class="fa fa-ban"></i></button>
        </td>
        <td>{{miembro.usuario.persona | nombreUnido}}</td>
        <td>{{miembro.cargo_usuario.nombre}}</td>
        <td>{{miembro.usuario.persona.telefono}}</td>
        <td>{{miembro.usuario.persona.correo}}</td>
        <td>{{miembro.estado}}</td>
      </tr>
    </tbody>
  </table>
</div>
