<section ng-init="$ctrl.proyecto.beneficiarios.$_plantilla=1; $ctrl.proyecto.beneficiarios.$_nombre='beneficiarios'">
  <h6 class="title-section m-top">
    <i class="fa fa-file-text-o"></i> Solicitud de Proyecto
  </h6>
  <div class="row">
    <div class="col-12">
      <div class="alert alert-info" ng-if="$ctrl.proyecto.nro_convenio_referencia">
        <i class="fa fa-info-circle"></i>
        <span>El número de código del proyecto original es {{$ctrl.proyecto.nro_convenio_referencia}}.</span>
      </div>
      <div class="alert alert-info" ng-if="!$ctrl.proyecto.estado && !$ctrl.proyecto.nro_convenio_referencia">
        <i class="fa fa-info-circle"></i>
        <span>El número de código {{$ctrl.proyecto.nro_convenio}} se confirma al momento de enviar este formulario, por lo que puede cambiar si otro usuario envia su solicitud antes que Usted.</span>
      </div>
      <div class="alert alert-warning" ng-if="$ctrl.proyecto.motivo_rechazo">
        <i class="fa fa-info-circle"></i>
        <span><strong>Motivo de Rechazo:</strong> {{$ctrl.proyecto.motivo_rechazo}}</span><br><br>
        <button md-effect type="button" class="btn btn-danger" uib-tooltip="Descargar Informe de Rechazo"
                download-file="{{ $ctrl.descarga.urlDescarga }}" file-name="{{ $ctrl.descarga.nombreDescarga }}">
          <i class="fa fa-download"></i> Informe de Rechazo
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="md-input-group col-md-2">
      <c-input name="codigo1" label="Código" ng-model="$ctrl.proyecto.cite_codigo"
      ng-disabled="true"></c-input>
    </div>
    <div class="md-input-group col-md-2">
      <c-input name="codigo2" label="Número" ng-model="$ctrl.proyecto.cite_nro"
      ng-disabled="!$ctrl.puedeModificarCodigo('nro_convenio')"></c-input>
    </div>
    <div class="md-input-group col-md-4">
      <c-date name="fecha_recepcion" label="Fecha de recepción" ng-model="$ctrl.proyecto.fecha_suscripcion_convenio"
      ng-required="!$ctrl.modoVista && $ctrl.Proyecto.esRequerido('fecha_suscripcion_convenio')"
      ng-disabled="!$ctrl.puedeModificarCodigo('fecha_suscripcion_convenio')"></c-date>
    </div>

    <div class="md-input-group col-md-4 ng-hide" ng-if="$ctrl.proyecto.codigo">
      <c-input name="codigo3" label="Codigo" ng-model="$ctrl.proyecto.codigo"
      ng-disabled="true"></c-input>
    </div>
    <div class="md-input-group col-md-4" ng-if="$ctrl.puedeModificarCodigo()">
      <button md-effect type="button" class="btn btn-warning" uib-tooltip="Corregir código y fecha"
              ng-click="$ctrl.corregirDatosGenerales()">
        <i class="fa fa-download"></i> Modificar
      </button>
    </div>
    <div class="col-md-12" ng-if="$ctrl.validarCite()">
      <div class="bg-danger">
        Error en el formato del número, debe ser de la forma 0001-2018.
      </div>
    </div>
    <div class="col-md-12" ng-if="$ctrl.proyecto.duplicados">
      Proyectos con código {{$ctrl.proyecto.nro_convenio}}:
      <ul ng-class="{'bg-warning':$ctrl.proyecto.duplicados}" style="font-size:10px">
        <li ng-repeat="nom in $ctrl.proyecto.duplicados">{{nom}}</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="md-input-group col-md-12">
      <c-input name="procedencia" label="Procedencia" ng-model="$ctrl.proyecto.entidad_beneficiaria"
      ng-minlength="3" maxlength="255"
      ng-required="!$ctrl.modoVista && $ctrl.Proyecto.esRequerido('entidad_beneficiaria')"
      ng-disabled="$ctrl.modoVista || !$ctrl.Proyecto.esEditable('entidad_beneficiaria')"></c-input>
    </div>

    <div class="col-md-12">
      <c-select-dpa ng-model="$ctrl.proyecto.dpa" horizontal="true"
      ng-required="!$ctrl.modoVista && $ctrl.Proyecto.esRequerido('fcod_municipio')"
      ng-disabled="$ctrl.modificarUbicacion()"></c-select-dpa>
    </div>

    <div class="md-input-group col-md-12">
      <c-input name="referencia" label="Referencia" ng-model="$ctrl.proyecto.beneficiarios.referencia"
      ng-minlength="3" maxlength="255"
      ng-required="!$ctrl.modoVista && $ctrl.Proyecto.esRequerido('referencia')"
      ng-disabled="$ctrl.modoVista || !$ctrl.Proyecto.esEditable('referencia')"></c-input>
    </div>

    <div class="md-input-group col-md-12">
      <c-input name="nombre" label="Nombre del Proyecto" ng-model="$ctrl.proyecto.nombre"
      ng-minlength="3" maxlength="255"
      ng-directives="uppercase"
      ng-required="!$ctrl.modoVista && $ctrl.Proyecto.esRequerido('nombre')"
      ng-disabled="$ctrl.modoVista || !$ctrl.Proyecto.esEditable('nombre')"></c-input>
    </div>

    <div class="col-md-4">
      <c-input-numeric name="nro_familias" label="N° Familias Beneficiadas" ng-model="$ctrl.proyecto.beneficiarios.nro_familias"
      ng-minvalue="0" ng-maxvalue="99999999" ng-formatting="false" ng-decimals="0"
      ng-required="!$ctrl.modoVista && $ctrl.Proyecto.esRequerido('beneficiarios')"
      ng-disabled="$ctrl.modoVista || !$ctrl.Proyecto.esEditable('beneficiarios')"></c-input-numeric>
    </div>

    <div class="col-md-12" ng-if="$ctrl.proyecto.sector || $ctrl.Proyecto.esEditable('sector')">
      <select-parametro name="sector" label="Sector" ng-model="$ctrl.proyecto.sector" parametro="SECTOR"
      ng-required="!$ctrl.modoVista && $ctrl.Proyecto.esRequerido('sector')"
      ng-disabled="$ctrl.modoVista || !$ctrl.Proyecto.esEditable('sector')"></select-parametro>
    </div>

  </div>
</section>
