<nav class="navbar navbar-expand">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <button type="button" class="btn btn-link" ng-click="$ctrl.toggleSidenav()">
                    <i class="fa fa-bars"></i>
                </button>
            </li>
            <li class="nav-item">
                <button type="button" class="btn btn-link" ng-click="$ctrl.refresh()">
                    <i class="fa fa-refresh"></i>
                </button>
            </li>
            <li class="nav-item">
                <button type="button" class="btn btn-link" ng-click="$ctrl.fullscreen()">
                    <i class="fa fa-arrows-alt"></i>
                </button>
            </li>
            <!-- <li class="nav-item">
                <button type="button" class="btn btn-link">
                    <i class="fa fa-bell-o"></i>
                </button>
            </li> -->
        </ul>
        <div class="navbar-nav navbar-buttons my-2 my-lg-0">
            <div class="nav-item dropdown" uib-dropdown is-open="status.isopen1">
                <a id="single-button" href="" class="nav-link" uib-dropdown-toggle>
                    {{$ctrl.user.rol.descripcion}}
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink" style="margin-top: -40px;" ng-if="$ctrl.user.roles.length>1">
                    <a class="dropdown-item" href="" ng-repeat="rol in $ctrl.user.roles" ng-click="$ctrl.changeRol(rol)"><i class="fa fa-user-circle-o"></i> {{rol.nombre}}</a>
                </div>
            </div>
        </div>
        <div class="navbar-nav navbar-buttons my-2 my-lg-0">
            <div class="nav-item dropdown" uib-dropdown is-open="status.isopen">
                <a id="single-button" href="" class="nav-link" uib-dropdown-toggle>
                    <i class="fa fa-ellipsis-v"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink" style="margin-top: -40px;">
                    <a class="dropdown-item" href="" ng-if="$ctrl.user.rol.nombre!='EMPRESA'" ng-click="$ctrl.account()"><i class="fa fa-user"></i> Cambiar contraseña</a>
                    <!-- <a class="dropdown-item" href=""><i class="fa fa-cog"></i> Configuraciones</a> -->
                    <hr>
                    <a class="dropdown-item" href="" ng-click="$ctrl.logout()"><i class="fa fa-sign-out"></i> Cerrar sesión</a>
                </div>
            </div>
        </div>
    </div>
</nav>
