<div class="modal-header">
  <h5 class="modal-title"><i class="fa fa-plus-circle"></i> Linea de Tiempo</h5>
  <button type="button" class="close" data-dismiss="modal" ng-click="$ctrl.cerrar()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <!-- <p>
    <h5>Proyecto:</h5>
  </p> -->
  <div class="row">
    <div class="md-input-group col-12">
      {{$ctrl.transicion.usuario_asignado.persona.nombres}}
      {{$ctrl.transicion.usuario_asignado.persona.primer_apellido}}
      {{$ctrl.transicion.usuario_asignado.persona.segundo_apellido}}
      <br><strong>{{$ctrl.transicion.usuario_asignado_rol.descripcion}}</strong>
    </div>
  </div>

  <br><br>
  <section style="max-height:400px;overflow:auto">
    <timeline>
      <timeline-event ng-repeat="evento in $ctrl.eventos" side="{{evento.side}}">
        <timeline-badge class="{{evento.badgeClass}}">
          <i class="fa fa-{{evento.badgeIconClass}}"></i>
        </timeline-badge>
        <timeline-panel class="{{evento.badgeClass}}">
          <timeline-heading ng-if="evento.nombre">
            <h5>{{evento.nombre}}<br><small><strong>{{evento.rol}}</strong></small></h5>
          </timeline-heading>
          <p ng-if="evento.contenido">{{evento.contenido}}</p>
          <p style="margin:0">
            <small><strong>{{evento.estado}}</strong></p>
            <small class="pull-right"><i class="fa fa-clock"></i>{{evento.fecha | date : 'dd/MM/yyyy HH:mm'}}</small></p>
        </timeline-panel>
      </timeline-event>
    </timeline>
  </section>
</div>

<div class="modal-footer">
  <button type="button" md-effect class="btn btn-primary" ng-click="$ctrl.cerrar()">
    <i class="fa fa-close"></i> Aceptar
  </button>
</div>
