<div class="modal-header">
  <h5 class="modal-title"><i class="fa fa-plus-circle"></i> Nueva Adjudicación</h5>
  <button type="button" class="close" data-dismiss="modal" ng-click="$ctrl.cerrar()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>Introduzca el código de acceso para adjudicarse a un proyecto.</p>
  <ng-form name="formAdjudicacion">
    <div class="row">
      <div class="md-input-group col-md-12">
        <c-input name="codigo" label="Código" ng-model="$ctrl.codigo_acceso"
        ng-required="true"></c-input>
      </div>
    </div>
  </ng-form>
</div>

<div class="modal-footer">
  <button type="button" md-effect class="btn btn-secondary" ng-click="$ctrl.cerrar()">
    <i class="fa fa-close"></i> Cancelar
  </button>
  <button type="submit" md-effect class="btn btn-primary" validar-formulario="formAdjudicacion" ng-click="$ctrl.adjudicarProyecto()">
    <i class="fa fa-check"></i> Adjudicar
  </button>
</div>
