<div class="crud-table">
  <table ng-table-dynamic="$ctrl.tableParams with $ctrl.columns" class="table table-striped table-hover table-responsive">
    <tr ng-repeat="row in $data">
      <td ng-repeat="col in $columns">
        <span class="{{(row[col.field] | typeof) == 'number' ? 'pull-right' : ''}}">
          {{ (row[col.field][col.subfield] || row[col.field]) | formatDecimal:2 | datetime:'convert' }}
        </span>
      </td>
    </tr>
  </table>
</div>
