<div class="row">
  <div class="col-sm-12">
    <label for="{{$ctrl.name}}" title="{{$ctrl.title}}" class="title" ng-class="{'requerido':$ctrl.ngRequired}">{{$ctrl.label}}</label>
    <input type="hidden" name="{{$ctrl.name}}" ng-required="$ctrl.ngRequired" ng-model="$ctrl.model">
  </div>
  <div class="col-sm-4">
    <div class="md-form-group md-select-group">
      <ui-select ng-if="!$ctrl.Util.isMobile.any()" name="dia" ng-change="$ctrl.setDate()" ng-model="$ctrl.day" theme="bootstrap" class="md-select"
      ng-required="$ctrl.ngRequired || ($ctrl.month || $ctrl.year)" ng-disabled="$ctrl.ngDisabled" maxlen="2">
        <ui-select-match placeholder="DÍA" allow-clear="true" allow-clear-class>{{$select.selected.text}}</ui-select-match>
        <ui-select-choices repeat="item in $ctrl.days | filter: $select.search"
          refresh="$ctrl.inputDate($select.search, $ctrl.days | filter: $select.search, 'day')" refresh-delay="0" >
          <span ng-bind-html="item.text | highlight: $select.search"></span>
        </ui-select-choices>
        <ui-select-no-choice>
          <small> Seleccione un día válido. </small>
        </ui-select-no-choice>
      </ui-select>

      <select ng-if="!!$ctrl.Util.isMobile.any()" name="dia" ng-model="$ctrl.day" ng-options="item.value for item in $ctrl.days"
      class="select-mobile" ng-change="$ctrl.setDate()" ng-required="$ctrl.ngRequired || ($ctrl.month || $ctrl.year)"></select>

      <label class="{{!!$ctrl.Util.isMobile.any()? 'label-mobile' : 'md-control-label no-float-label'}}" ng-class="{'requerido':$ctrl.ngRequired, 'hasvalue': $ctrl.day}">DÍA</label>
      <i class="md-bar" ng-class="{'error':$ctrl.form.dia.$invalid && $ctrl.form.dia.$touched,'sin-error':!$ctrl.form.dia.$invalid}"></i>
      <div ng-messages="$ctrl.form.dia.$error" class="error-select-date" ng-if="$ctrl.form.dia.$touched || $ctrl.form.mes.$touched || $ctrl.form.anio.$touched" role="alert">
        <div ng-message="required"> El campo es requerido. </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="md-form-group md-select-group">
      <ui-select ng-if="!$ctrl.Util.isMobile.any()" name="mes" ng-change="$ctrl.setDate()" ng-model="$ctrl.month" theme="bootstrap" class="md-select"
      ng-required="$ctrl.ngRequired || ($ctrl.day || $ctrl.year)" ng-disabled="$ctrl.ngDisabled" maxlen="10">
        <ui-select-match placeholder="MES" allow-clear="true" allow-clear-class>{{$select.selected.text}}</ui-select-match>
        <ui-select-choices repeat="item in $ctrl.months | filter: $select.search"
          refresh="$ctrl.inputDate($select.search, $ctrl.months | filter: $select.search, 'month')" refresh-delay="0" >
          <span ng-bind-html="item.text | highlight: $select.search"></span>
        </ui-select-choices>
        <ui-select-no-choice>
          <small> Seleccione un mes válido. </small>
        </ui-select-no-choice>
      </ui-select>

      <select class="select-mobile" ng-if="!!$ctrl.Util.isMobile.any()" name="mes" ng-model="$ctrl.month" ng-options="item.text for item in $ctrl.months" ng-change="$ctrl.setDate()" ng-required="$ctrl.ngRequired || ($ctrl.day || $ctrl.year)"></select>

      <label class="{{!!$ctrl.Util.isMobile.any()? 'label-mobile' : 'md-control-label no-float-label'}}" ng-class="{'requerido':$ctrl.ngRequired, 'hasvalue': $ctrl.month}">MES</label>
      <i class="md-bar" ng-class="{'error':$ctrl.form.mes.$invalid && $ctrl.form.mes.$touched,'sin-error':!$ctrl.form.mes.$invalid}"></i>
      <div ng-messages="$ctrl.form.mes.$error" class="error-select-date" ng-if="$ctrl.form.mes.$touched || $ctrl.form.dia.$touched || $ctrl.form.anio.$touched" role="alert">
        <div ng-message="required"> El campo es requerido. </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="md-form-group md-select-group">
      <ui-select ng-if="!$ctrl.Util.isMobile.any()" name="anio" ng-change="$ctrl.setDate()" ng-model="$ctrl.year" theme="bootstrap" class="md-select"
      ng-required="$ctrl.ngRequired || ($ctrl.day || $ctrl.month)" ng-disabled="$ctrl.ngDisabled" maxlen="4">
        <ui-select-match placeholder="AÑO" allow-clear="true" allow-clear-class>{{$select.selected.text}}</ui-select-match>
        <ui-select-choices repeat="item in $ctrl.years | filter: $select.search"
          refresh="$ctrl.inputDate($select.search, $ctrl.years | filter: $select.search, 'year')" refresh-delay="0" >
          <span ng-bind-html="item.text | highlight: $select.search"></span>
        </ui-select-choices>
        <ui-select-no-choice>
          <small> Seleccione un año válido. </small>
        </ui-select-no-choice>
      </ui-select>

      <select class="select-mobile"  ng-if="!!$ctrl.Util.isMobile.any()" name="anio" ng-model="$ctrl.year" ng-options="item.value for item in $ctrl.years" ng-change="$ctrl.setDate()" ng-required="$ctrl.ngRequired || ($ctrl.day || $ctrl.month)"></select>

      <label class="{{!!$ctrl.Util.isMobile.any()? 'label-mobile' : 'md-control-label no-float-label'}}" ng-class="{'requerido':$ctrl.ngRequired, 'hasvalue': $ctrl.year}">AÑO</label>
      <i class="md-bar" ng-class="{'error':$ctrl.form.anio.$invalid && $ctrl.form.anio.$touched,'sin-error':!$ctrl.form.anio.$invalid}"></i>
      <div ng-messages="$ctrl.form.anio.$error" class="error-select-date" ng-if="$ctrl.form.anio.$touched || $ctrl.form.dia.$touched || $ctrl.form.mes.$touched" role="alert">
        <div ng-message="required"> El campo es requerido. </div>
      </div>
    </div>
  </div>
</div>
