<div id="items">
  <button md-effect type="button" class="btn btn-success" ng-click="$ctrl.adicionarModulo()"
          ng-if="!$ctrl.modoVista && !$ctrl.tieneSupervisiones()">
    <i class="fa fa-plus"></i> Adicionar Módulo
  </button>
  <button md-effect type="button" class="btn btn-warning" ng-click="$ctrl.importarItems()"
          ng-if="!$ctrl.modoVista && !$ctrl.tieneSupervisiones()">
    <i class="fa fa-upload"></i> Importar Items
  </button>
  <button md-effect type="button" class="{{$ctrl.adjudicacion.doc_especificaciones_tecnicas ? 'btn btn-success' : 'btn btn-warning'}}"
          ng-click="$ctrl.cargarEspecificacionesTecnicas()"
          ng-if="!$ctrl.modoVista">
    <i class="fa fa-upload"></i> Cargar Especificaciones Técnicas
  </button>
  <button md-effect type="button" class="btn btn-info" ng-click="$ctrl.verEspecificacionesTecnicas()"
    ng-if="$ctrl.adjudicacion.doc_especificaciones_tecnicas">
    <i class="fa fa-file-text-o"></i> Ver Especificaciones Técnicas
  </button>
  <div class="float-right col-md-4">
    <c-select name="adjudicacion"
      label="Seleccione una adjudicacion"
      ng-model="$ctrl.adjudicacionSeleccionada"
      options="$ctrl.opcionesAdjudicaciones"
      field="referencia"
      ng-required="true"
      ng-if="!$ctrl.Usuarios.esResponsableProyecto()">
    </c-select>
    <div class="md-input-group" ng-if="$ctrl.proyecto.adj">
      <c-date name="orden_proceder" label="Fecha de orden de proceder de esta adjudicación"
              ng-model="$ctrl.proyecto.adj.orden_proceder"
              ng-required="!$ctrl.modoVista && $ctrl.Proyecto.esRequerido('orden_proceder')"
              ng-disabled="$ctrl.modoVista || !$ctrl.Proyecto.esEditable('orden_proceder') || $ctrl.tieneSupervisiones()"
              min-date="$ctrl.validacion.fecha_minima"
              mensaje-min-date="{{$ctrl.validacion.mensaje_fecminima}}">
      </c-date>
    </div>
  </div>

  <br><br>
  <br ng-if="!$ctrl.Usuarios.esResponsableProyecto()">
  <br ng-if="!$ctrl.Usuarios.esResponsableProyecto()">
  <br ng-if="$ctrl.proyecto.adj">
  <br ng-if="$ctrl.proyecto.adj">

  <ng-form name="form_{{modulo.id_modulo}}" ng-repeat="(keyModulo,modulo) in $ctrl.modulos | orderBy : 'id_modulo'">
    <!--<span md-effect class=" text-primary" ng-click="modulo.show=!modulo.show">-->
    <span md-effect class=" text-primary" ng-click="$ctrl.getItems(modulo)">
      <strong>{{modulo.nombre.split('|')[0]}}</strong>
      <p><i class="fa fa-plus" ng-if="!modulo.show"></i><i class="fa fa-minus" ng-if="modulo.show"></i> &nbsp; &nbsp; {{modulo.nombre.split('|')[1]}}</p>
    </span>

    <div class="float-right">
      <div style="display: inline-block;">{{modulo.subtotal | formatDecimal}}&nbsp;&nbsp;</div>
      <div ng-if="!$ctrl.modoVista && !$ctrl.tieneSupervisiones(modulo)">
        <button class="btn btn-link text-success ml-1  pl-1 pr-1" ng-click="$ctrl.guardarDatosModulo(modulo)"
          uib-tooltip="Guardar datos del módulo" validar-formulario nombre-formulario="form_{{modulo.id_modulo}}">
          <i class="fa fa-save"></i>
        </button>
        <button class="btn btn-link text-success ml-1  pl-1 pr-1" ng-click="$ctrl.adicionarItem(modulo);modulo.show=true" uib-tooltip="Agregar nuevo item">
          <i class="fa fa-plus-square-o"></i>
        </button>
        <button class="btn btn-link text-primary ml-1 pl-1 pr-1" ng-click="$ctrl.editarModulo(modulo)" uib-tooltip="Editar módulo">
          <i class="fa fa-edit"></i>
        </button>
        <button class="btn btn-link text-danger ml-1 pl-1 pr-1" ng-click="$ctrl.eliminarModulo(modulo)" uib-tooltip="Eliminar módulo">
          <i class="fa fa-trash-o"></i>
        </button>
      </div>
    </div>
    <hr>

      <div class="items" ng-repeat="(keyItem,item) in modulo.items | orderBy : 'nro_item' " ng-if="modulo.show">
        <div class="row">
          <div class="col-md-1 nro-item text-info">
              <strong class="mt-3"> {{item.nro_item}} </strong>
          </div>
          <div class="md-input-group col-md-3">
            <c-input name="item_nombre_{{keyItem}}" label="Nombre" ng-model="item.nombre"
            maxlength="150"
            ng-required="true" ng-disabled="!item.edicion">
            </c-input>
          </div>

          <div class="md-input-group col-md-1">
            <c-select name="item_unidad_{{keyItem}}" label="Unidad" ng-model="item.unidad_medida"
              options="$ctrl.unidades" key-value="codigo" ng-required="true" ng-disabled="!item.edicion">
            </c-select>
          </div>

          <div class="md-input-group col-md-1">
            <!-- <c-input-numeric name="item_cantidad_{{keyItem}}" label="Cantidad" ng-model="item.cantidad"
                             ng-minvalue="1" ng-maxvalue="1" ng-decimals="0"
                             ng-required="true" ng-disabled="!item.edicion" ng-if="item.unidad_medida === 'UN_GLOBAL'" ng-keyup="$ctrl.calcularItem(item, keyItem, keyModulo)">
            </c-input-numeric> -->
            <c-input-numeric name="item_cantidad_{{keyItem}}" label="Cantidad" ng-model="item.cantidad"
                             ng-minvalue="1" ng-maxvalue="999999" ng-decimals="0"
                             ng-required="true" ng-disabled="!item.edicion" ng-if="item.unidad_medida === 'UN_GLOBAL' || item.unidad_medida === 'UN_PIEZA' || item.unidad_medida === 'UN_PUNTO'" ng-keyup="$ctrl.calcularItem(item, keyItem, keyModulo)">
            </c-input-numeric>
            <c-input-numeric name="item_cantidad_{{keyItem}}" label="Cantidad" ng-model="item.cantidad"
                             ng-minvalue="0" ng-maxvalue="999999" ng-decimals="2"
                             ng-required="true" ng-disabled="!item.edicion" ng-if="item.unidad_medida !== 'UN_GLOBAL' && item.unidad_medida !== 'UN_PIEZA' && item.unidad_medida !== 'UN_PUNTO'" ng-keyup="$ctrl.calcularItem(item, keyItem, keyModulo)">
            </c-input-numeric>
          </div>

          <div class="md-input-group col-md-2">
            <c-input-numeric name="item_precio_{{keyItem}}" label="Precio" ng-model="item.precio_unitario"
                             ng-minvalue="0" ng-maxvalue="99999999" ng-decimals="2"
                             ng-required="$ctrl.Proyecto.esRequerido('modulos')"
                             ng-if="$ctrl.Proyecto.esRequerido('modulos') || $ctrl.modoVista"
                             ng-disabled="!item.edicion" ng-keyup="$ctrl.calcularItem(item, keyItem, keyModulo)">
            </c-input-numeric>
            <!--
              ng-blur="$ctrl.registrarPrecioItem(item)"
              ng-required="$ctrl.Proyecto.esRequerido('modulos.items.precio_unitario')"
              ng-disabled="$ctrl.modoVista && !$ctrl.Proyecto.esRequerido('modulos.items.precio_unitario')"
            -->
          </div>

          <div class="md-input-group col-md-1">
            <c-input-numeric name="peso_ponderado_{{keyItem}}" label="Peso ponderado" ng-model="item.peso_ponderado"
                             ng-minvalue="0" ng-maxvalue="1" ng-decimals="0"
                             ng-required="$ctrl.Proyecto.esRequerido('modulos')"
                             ng-if="$ctrl.Proyecto.esRequerido('modulos') || $ctrl.modoVista"
                             ng-keyup="$ctrl.calcularItem(item_ponderado, keyItem, keyModulo)"
                             ng-blur="$ctrl.actualizarPesoItem(item)">
            </c-input-numeric>
          </div>

          <div class="md-input-group col-md-2">
            <c-input-numeric name="item_subtotal_{{keyItem}}" label="Subtotal" ng-model="item.subtotal"
                             ng-minvalue="0" ng-maxvalue="99999999" ng-decimals="2"
                             ng-required="false"
                             ng-if="$ctrl.Proyecto.esRequerido('modulos') || $ctrl.modoVista"
                             ng-disabled="true">
            </c-input-numeric>
          </div>

          <div class="float-right">
            <button class="btn btn-link text-success ml-1 pl-1 pr-1"
              ng-click="!item.id_item? $ctrl.guardarItem(item, keyItem, keyModulo, modulo) : $ctrl.actualizarItem(item, keyItem, modulo)"
              ng-if="item.edicion && !$ctrl.modoVista && !$ctrl.tieneSupervisiones(modulo)" uib-tooltip="Guardar">
              <i class="fa fa-save"></i>
            </button>

            <button class="btn btn-link text-primary ml-1 pl-1 pr-1" ng-click="item.edicion = true"
              ng-if="!item.edicion && !$ctrl.modoVista && !$ctrl.tieneSupervisiones(modulo)" uib-tooltip="Editar">
              <i class="fa fa-edit"></i>
            </button>

            <button class="btn btn-link text-primary ml-1 pl-1 pr-1" ng-click="$ctrl.verEspecificacionesItem(item)"
              ng-if="!item.edicion && item.especificaciones" uib-tooltip="Ver especificaciones">
              <i class="fa fa-file-text-o"></i>
            </button>

            <button class="btn btn-link text-info ml-1 pl-1 pr-1" ng-click="$ctrl.cargarEspecificacionesItem(item)"
              ng-if="!item.edicion && !$ctrl.modoVista && !$ctrl.tieneSupervisiones(modulo)" uib-tooltip="Cargar especificaciones">
              <i class="fa fa-upload"></i>
            </button>

            <button class="btn btn-link text-danger ml-1 pl-1 pr-1" ng-click="$ctrl.eliminarItem(item, keyItem, modulo)"
              ng-if="!$ctrl.modoVista && !$ctrl.tieneSupervisiones(modulo)" uib-tooltip="Eliminar">
              <i class="fa fa-trash-o"></i>
            </button>
          </div>

        </div>
    </div>

  </ng-form>
  <hr>
  <!--
    ng-if="$ctrl.Proyecto.esRequerido('modulos.items.precio_unitario') || $ctrl.modoVista"
  -->
  <div class="row" ng-if="$ctrl.Proyecto.esRequerido('modulos') || $ctrl.modoVista">
    <div class="col-md-3" ng-if="!$ctrl.adjudicacion">
      Precio Total
    </div>
    <div class="col-md-9" ng-if="!$ctrl.adjudicacion">
      <strong>{{$ctrl.proyecto.financiamiento.monto_total_proyecto | formatDecimal}}</strong>
    </div>
    <div class="col-md-3" ng-if="$ctrl.adjudicacion">
      Precio total de la adjudicación
    </div>
    <div class="col-md-9" ng-if="$ctrl.adjudicacion">
      <strong>{{$ctrl.adjudicacion.monto | formatDecimal}}</strong>
    </div>
    <div class="col-md-3">
      Precio Total (numeral)
    </div>
    <div class="col-md-9">
      <strong>{{$ctrl.precioTotal | formatDecimal}}</strong>
    </div>
    <div class="col-md-3">
      Precio Total (literal)
    </div>
    <div class="col-md-9">
      <strong>{{$ctrl.precioTotal | numberToLiteral}}</strong>
    </div>
  </div>
</div>
