<div class="container">
  <h2 class="page-title">
    <i class="fa fa-bars"></i> Tabla de estados
  </h2>
  <div class="card">
    <div class="card-body">
      <crud-table url="$ctrl.estados.url"
                  data="$ctrl.estados.data"
                  fields="$ctrl.estados.fields"
                  permission="$ctrl.estados.permission"
                  event-create="$ctrl.estados.eventCreate"
                  event-edit="$ctrl.estados.eventEdit"
                  event-delete="$ctrl.estados.eventDelete"
                  buttons="$ctrl.estados.buttons"
                  labels="$ctrl.estados.labels"
                  fks="$ctrl.estados.fks"
                  update="$ctrl.estados.update"
                  clases="$ctrl.estados.clases"
                  ng-if="$ctrl.estados" 
                  hidden-fields="$ctrl.estados.hiddenFields">
      </crud-table>
    </div>
  </div>
  <!--
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <button md-effect type="button" class="btn btn-sm btn-warning" ng-click="$ctrl.reestablecerValores()">
            Reestablecer valores iniciales
          </button>
        </div>
      </div>
    </div>
  </div>
  -->
</div>
