// Shadows
@import '../../../../styles/sass/_variables.scss';

$shadow-inset: inset 0 2px 2px 0 rgba(0,0,0,.14);
$shadow-0: 0 0 1px rgba(0, 0, 0, 0);
$shadow-2: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
$shadow-3: 0 3px 4px 0 rgba(0,0,0,.14),0 3px 3px -2px rgba(0,0,0,.2),0 1px 8px 0 rgba(0,0,0,.12);
$shadow-4: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
$shadow-6: 0 6px 10px 0 rgba(0,0,0,.14),0 1px 18px 0 rgba(0,0,0,.12),0 3px 5px -1px rgba(0,0,0,.2);
$shadow-8: 0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12),0 5px 5px -3px rgba(0,0,0,.2);

// Font Sizes
$mf-font-size: 1rem !default;
$mf-active-font-size: $mf-font-size * 0.8 !default;
$mf-active-top: -$mf-font-size !default;

// Margin & Paddings
$mf-gap: $mf-font-size * 1.5 !default;
$mf-spacer: $mf-font-size / 8 !default;
$mf-fieldset-margin: 0 0 $mf-gap * 2 !default;
$mf-checkbox-gap: $mf-font-size * 2 !default;
$mf-checkbox-top: 0 !default;
$mf-radio-margin: $mf-font-size / -4 !default;

// Colors
$mf-input-color: #333 !default;
$mf-border-color: #ccc !default;
$mf-label-color: #9e9e9e !default;
// $mf-label-color: darken($mf-border-color, 10%) !default;
$mf-active-color: darken($mf-border-color, 10%) !default;
$mf-focus-color: $colorPrimary !default;
$mf-error-color: #F44336 !default;

// Animation
$mf-transition-speed: 0.28s !default;

.row {
  .md-form-group {
    margin-top: ($mf-gap * 1);
    margin-bottom: ($mf-gap * 1);
  }
}

.md-form-group {
    position: relative;
    margin-top: ($mf-gap * 1.5);
    margin-bottom: ($mf-gap * 1.5);

    input {
        height: ($mf-font-size * 1.9);
    }

    textarea {
        resize: none;
    }

    select {
        width: 100%;
        font-size: $mf-font-size;
        height: ($mf-font-size * 1.6);
        padding: $mf-spacer $mf-spacer ($mf-spacer / 2);
        background: none;
        border: none;
        line-height: 1.6;
        box-shadow: none;
    }

    .md-control-label {
        position: absolute;
        top: ($mf-font-size / 4);
        pointer-events: none;
        padding-left: $mf-spacer;
        z-index: 1;
        color: $mf-label-color;
        font-size: $mf-font-size;
        font-weight: normal;
        transition: all $mf-transition-speed ease;
        line-height: 12px;
    }

    .md-bar {
        position: relative;
        border-bottom: ($mf-font-size / 14) solid $mf-border-color;
        display: block;
        &.error{
          border-bottom: ($mf-font-size / 14) solid $mf-error-color !important;
          &::before {
            background: $mf-error-color !important;
          }
        }
        &::before {
            content: '';
            background: $mf-focus-color;
            height: 0.13em;
            width: 0;
            left: 50%;
            bottom: ($mf-font-size / -15);
            position: absolute;
            transition: left $mf-transition-speed ease, width $mf-transition-speed ease;
            z-index: 2;
            border: 0;
        }
    }

    &.md-select-group {
      .ui-select-match {
        // background: rgba(249, 247, 247,.8);
        .btn-link {
          padding: 0.2rem 0.2rem 0 0;
          i {
            cursor: pointer;
            font-size: 14px;
            color: #1f3853;
          }
        }
      }
        .md-bar {
            top: -1px;
        }

        .btn-default {
            padding-left: 0;
        }

        .ui-select-container{
          &::before {
            top: 12px;
          }
          .ui-select-match-text {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }
        }
        .ui-select-toggle {
          z-index: 1;
        }
        .caret {
          z-index: -1;
        }
    }

    input,
    textarea {
        font-family: Montserrat;
        display: block;
        background: none;
        padding: $mf-spacer $mf-spacer ($mf-spacer / 2);
        font-size: $mf-font-size;
        border-width: 0;
        border-color: transparent;
        line-height: 1.9;
        width: 100%;
        color: #888;
        transition: all $mf-transition-speed ease;
        box-shadow: none;
    }

    input[type="file"] {
        line-height: 1;

        ~ .md-bar {
            display: none;
        }
    }

    select,
    input:focus,
    input:valid,
    input.form-file,
    input.has-value,
    textarea:focus,
    textarea:valid,
    textarea.form-file,
    textarea.has-value,
    .not-required-select {
        color: $mf-input-color;

        ~ .md-control-label {
            font-size: $mf-active-font-size;
            color: $mf-label-color;
            top: $mf-active-top;
            left: 0;
        }
    }

    select,
    input.not-required:valid,
    input.not-required.form-file,
    input.not-required.has-value,
    textarea.not-required:valid,
    textarea.not-required.form-file,
    textarea.not-required.has-value {
        color: $mf-input-color;

        ~ .md-control-label {
            top: ($mf-font-size / 4);
            color: $mf-label-color;
            font-size: $mf-font-size;
            left: initial;
        }
    }

    input.ng-not-empty, textarea.ng-not-empty, .md-select.ng-not-empty {
      ~ .md-control-label{
        top: -($mf-font-size);
        font-size: $mf-active-font-size;
        line-height: 10px;
        // color:$mf-border-color;
      }
    }

    input.ng-empty{
         ~ .md-control-label {
            font-size: $mf-font-size;
            color: $mf-label-color;
            top: ($mf-font-size / 4);
        }
    }

    input.ng-empty:focus{
         ~ .md-control-label {
            font-size: $mf-active-font-size;
            color: $mf-focus-color;
            top: $mf-active-top;
        }
    }

    select,
    input,
    textarea {
        &:focus {
            outline: none;

            ~ .md-control-label {
                color: $mf-focus-color;
            }

            ~ .md-bar {
                &::before {
                    width: 100%;
                    left: 0;
                }
            }
        }
    }

    .input-group:has(input:focus) {
      ~.md-bar {
        border: solid 3px blue !important;
        &::before {
            width: 100%;
            left: 0;
        }
      }
    }

}

[disabled] input,
[disabled] textarea,
[disabled] input.not-required{
  ~label {
    ~i{
      background-position: bottom -1px left 0 !important;
      background-size: 4px 1px !important;
      background-repeat: repeat-x !important;
      border-bottom-color: transparent !important;
      background-image: linear-gradient(90deg,rgba(0,0,0,0.38) 0,rgba(0,0,0,0.38) 33%,transparent 0) !important;
    }
  }
}

// textarea:disabled {
//   ~ .md-control-label {
//     font-size: $mf-active-font-size;
//     color: $mf-label-color;
//     top: $mf-active-top;
//     left: 0;
//   }
// }

.md-focus .md-control-label {
    color: $colorPrimary !important;
}

.form-error {
  position: static;
  font-weight: 600;
  color: $mf-error-color !important;
}

.requerido::after {
    content: '*';
    color: $mf-error-color;
    padding-left: 1px;
}

.md-select {
  ~.no-float-label {
    top: 0.21rem;
  }
  &.ng-not-empty {
    ~ .no-float-label {
      display: none;
    }
  }
  &.open {
    ~ .no-float-label {
      display: none;
    }
  }
  .form-control {
    &.ui-select-toggle {
      min-height: 1.9rem;
      max-height: 1.9rem;
      padding: 0.3rem 0.125rem 0.0625rem;
    }
  }
}

.ui-select-no-choice {
  small {
    padding: 0 10px;
    color: $mf-error-color !important;
    font-weight: 600;
    display: block;
  }
}

.label-form {
  top: -1rem;
  top: 0.4rem;
  position: relative;
  font-size: 0.8rem;
  color: $mf-label-color;
  background: transparent;
}
