<div class="row">
  <div class="md-input-group col-md-12">
    <c-input name="razon_social" label="Nombre del proponente o razón social" ng-model="$ctrl.empresa.razon_social"
    ng-disabled="true"></c-input>
  </div>
  <div class="md-input-group col-md-12">
    <c-input name="tipo_empresa" label="Tipo" ng-model="$ctrl.empresa.tipo"
    ng-disabled="true"></c-input>
  </div>
  <div class="md-input-group col-md-6">
    <c-input name="pais_empresa" label="País" ng-model="$ctrl.empresa.pais"
    ng-disabled="true"></c-input>
  </div>
  <div class="md-input-group col-md-6">
    <c-input name="ciudad_empresa" label="Ciudad" ng-model="$ctrl.empresa.ciudad"
    ng-disabled="true"></c-input>
  </div>
  <div class="md-input-group col-md-12">
    <c-input name="direccion_empresa" label="Dirección" ng-model="$ctrl.empresa.direccion"
    ng-disabled="true"></c-input>
  </div>
  <div class="md-input-group col-md-12">
    <c-input name="telefonos_empresa" label="Teléfonos" ng-model="$ctrl.empresa.telefono"
    ng-disabled="true"></c-input>
  </div>
  <div class="md-input-group col-md-4">
    <c-input name="nit" label="NIT" ng-model="$ctrl.empresa.nit"
    ng-disabled="true"></c-input>
  </div>
  <div class="md-input-group col-md-4">
    <c-input name="matricula_comercio" label="Nro. Matrícula de Comercio" ng-model="$ctrl.empresa.nro_matricula"
    ng-disabled="true"></c-input>
  </div>
  <div class="md-input-group col-md-4">
    <c-date name="fecha_inscripcion_empresa" label="Fecha de inscripción" ng-model="$ctrl.empresa.fecha_inscripcion"
    ng-disabled="true"></c-date>
  </div>
  <section class="col-md-12">
    <h6 class="title-section m-top"><i class="fa fa-user-o"></i> Datos del Representante Legal</h6>
  </section>
  <div class="md-input-group col-md-8">
    <c-input name="representante_legal" label="Nombre" ng-model="$ctrl.empresa.representante_legal.persona.nombre"
    ng-disabled="true"></c-input>
  </div>
  <div class="md-input-group col-md-4">
    <c-input name="ci_representante_legal" label="Nro Cédula de Identidad" ng-model="$ctrl.empresa.representante_legal.persona.documento_identidad"
    ng-disabled="true"></c-input>
  </div>
  <div class="md-input-group col-md-4">
    <c-input name="nro_testimonio" label="Nro. de testimonio" ng-model="$ctrl.empresa.representante_legal.poder.nro_testimonio"
    ng-disabled="true"></c-input>
  </div>
  <div class="md-input-group col-md-4">
    <c-input name="lugar_emision" label="Lugar de emisión" ng-model="$ctrl.empresa.representante_legal.poder.lugar_emision"
    ng-disabled="true"></c-input>
  </div>
  <div class="md-input-group col-md-4">
    <c-date name="fecha_expedicion" label="Fecha de expedición" ng-model="$ctrl.empresa.representante_legal.poder.fecha_expedicion"
    ng-disabled="true"></c-date>
  </div>

  <section class="col-md-12">
    <h6 class="title-section m-top"><i class="fa fa-bell-o"></i> Información para notificaciones</h6>
  </section>

  <div class="md-input-group col-md-1"><br>
    <c-checkbox name="correo_empresa_check" label="a)" ng-model="$ctrl.empresa.notificacion_correo_check"
    ng-disabled="true"></c-checkbox>
  </div>
  <div class="md-input-group col-md-5">
    <c-input name="correo_empresa" label="Correo electrónico" ng-model="$ctrl.empresa.notificacion_correo"
    ng-disabled="true"></c-input>
  </div>
  <div class="md-input-group col-md-1"><br>
    <c-checkbox name="fax_empresa_check" label="b)" ng-model="$ctrl.empresa.notificacion_fax_check"
    ng-disabled="true"></c-checkbox>
  </div>
  <div class="md-input-group col-md-5">
    <c-input name="fax_empresa" label="Fax" ng-model="$ctrl.empresa.notificacion_fax"
    ng-disabled="true"></c-input>
  </div>
</div>
