<div class="modal-header">
  <h5 class="modal-title"><i class="fa fa-info-circle"></i> Gestión</h5>
  <button type="button" class="close" data-dismiss="modal" ng-click="$ctrl.cerrar()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>
    Ingrese la gestión del Proyecto.
  </p>

  <div class="alert alert-warning">
    <i class="fa fa-info-circle"></i>
    <span>Se usará el código generado para la gestión <strong>{{$ctrl.gestion.nombre}}</strong>.</span>
  </div>

  <ng-form name="formPlazo">
    <div class="row">
      <div class="offset-md-3 col-md-6">
        <c-select name="gestion" label="Gestión" ng-model="$ctrl.gestion" options="$ctrl.gestiones"></c-select>
      </div>
    </div>
  </ng-form>

</div>
<div class="modal-footer">
  <!-- <button type="button" md-effect class="btn btn-secondary" ng-click="$ctrl.cerrar()">
    <i class="fa fa-close"></i> Cancelar
  </button> -->
  <button type="submit" md-effect class="btn btn-primary" validar-formulario="formPlazo" ng-click="$ctrl.aceptar()">
    <i class="fa fa-check"></i> Aceptar
  </button>
</div>
