<div class="row images">
  <div class="col-md-4">
    <section class="image">
        <figure ng-if="$ctrl.fotos.foto1.show">
            <div class="row mx-0">
              <div class="col-md">Foto 1: {{$ctrl.fotos.foto1.nombre}}</div>
              <div class="actions">
                <i class="fa fa-eye text-success" ng-click="$ctrl.showImage('foto1')" uib-tooltip="Ver/Ocultar imagen"></i>
                <i class="fa fa-exchange" ng-click="$ctrl.changeImage('foto1')" uib-tooltip="Cambiar imagen" ng-if="!$ctrl.modoVista"></i>
              </div>
            </div>
            <div ng-show="$ctrl.fotos.foto1.showImage">
              <img ng-src="data:image/jpg;base64, {{ $ctrl.fotos.foto1.base64 }}" alt="Foto 1" ng-click="$ctrl.vistaImagen($ctrl.fotos.foto1)">
            </div>
        </figure>
        <div ng-if="!$ctrl.fotos.foto1.show && !$ctrl.archivado && !$ctrl.modoVista">
            <ui-input-file name="foto1" label="Foto 1" file-base64="$ctrl.fotos.foto1" upload-callback="$ctrl.fotos.uploadCallback"
                  types="jpg, png, jpeg" mime-types="image/*" maxfiles="1" maxsize="3MB"></ui-input-file>
        </div>
    </section>
  </div>
  <div class="col-md-4">
    <section class="image">
        <figure ng-if="$ctrl.fotos.foto2.show">
            <div class="row mx-0">
              <div class="col-md">Foto 2: {{$ctrl.fotos.foto2.nombre}}</div>
              <div class="actions">
                <i class="fa fa-eye text-success" ng-click="$ctrl.showImage('foto2')" uib-tooltip="Ver/Ocultar imagen"></i>
                <i class="fa fa-exchange" ng-click="$ctrl.changeImage('foto2')" uib-tooltip="Cambiar imagen" ng-if="!$ctrl.modoVista"></i>
              </div>
            </div>
            <div ng-show="$ctrl.fotos.foto2.showImage">
              <img ng-src="data:image/jpg;base64, {{ $ctrl.fotos.foto2.base64 }}" alt="Foto 2" ng-click="$ctrl.vistaImagen($ctrl.fotos.foto2)">
            </div>
        </figure>
        <div ng-if="!$ctrl.fotos.foto2.show && !$ctrl.archivado && !$ctrl.modoVista">
            <ui-input-file name="foto2" label="Foto 2" file-base64="$ctrl.fotos.foto2" upload-callback="$ctrl.fotos.uploadCallback"
                  types="jpg, png, jpeg" mime-types="image/*" maxfiles="1" maxsize="3MB"></ui-input-file>
        </div>
    </section>
  </div>
  <div class="col-md-4">
    <section class="image">
        <figure ng-if="$ctrl.fotos.foto3.show">
            <div class="row mx-0">
              <div class="col-md">Foto 3: {{$ctrl.fotos.foto3.nombre}}</div>
              <div class="actions">
                <i class="fa fa-eye text-success" ng-click="$ctrl.showImage('foto3')" uib-tooltip="Ver/Ocultar imagen"></i>
                <i class="fa fa-exchange" ng-click="$ctrl.changeImage('foto3')" uib-tooltip="Cambiar imagen" ng-if="!$ctrl.modoVista"></i>
              </div>
            </div>
            <div ng-show="$ctrl.fotos.foto3.showImage">
              <img ng-src="data:image/jpg;base64, {{ $ctrl.fotos.foto3.base64 }}" alt="Foto 3" ng-click="$ctrl.vistaImagen($ctrl.fotos.foto3)">
            </div>
        </figure>
        <div ng-if="!$ctrl.fotos.foto3.show && !$ctrl.archivado && !$ctrl.modoVista">
            <ui-input-file name="foto3" label="Foto 3" file-base64="$ctrl.fotos.foto3" upload-callback="$ctrl.fotos.uploadCallback"
                  types="jpg, png, jpeg" mime-types="image/*" maxfiles="1" maxsize="3MB"></ui-input-file>
        </div>
    </section>
  </div>
</div>
<div class="row images">
  <div class="col">
    <section class="image">
        <figure ng-if="$ctrl.fotos.plano.show">
            <div class="row mx-0">
              <div class="col-md">Plano/Factor de forma: {{$ctrl.fotos.plano.nombre}}</div>
              <div class="actions">
                <i class="fa fa-eye text-success" ng-click="$ctrl.showImage('plano')" uib-tooltip="Ver/Ocultar imagen"></i>
                <i class="fa fa-exchange" ng-click="$ctrl.changeImage('plano')" uib-tooltip="Cambiar imagen" ng-if="!$ctrl.modoVista"></i>
              </div>
            </div>
            <div ng-show="$ctrl.fotos.plano.showImage">
              <div id="documento" ng-if="$ctrl.fotos.plano.showImage && $ctrl.fotos.plano.nombre.indexOf('.pdf')>0">
                <archivo name="plano" label="Plano/Factor de Forma" ng-model="$ctrl.fotos.plano"
                        types="pdf" mime-types=".pdf" maxsize="20MB"
                        url="{{$ctrl.urlViewBase64}}"
                        url-descarga="{{$ctrl.urlDownloadBase64}}"
                        modo-vista="true">
                </archivo>
                <!-- <div class="opciones">
                  <button md-effect type="button" class="btn btn-success btn-sm" uib-tooltip="Ver documento" ng-click="$ctrl.vistaPrevia()" ng-if="true">
                    <i class="fa fa-eye"></i>
                  </button>
                  <button md-effect type="button" class="btn btn-primary btn-sm" uib-tooltip="Descargar"
                          download-file="{{$ctrl.urlDownloadBase64}}" file-name="{{$ctrl.fotos.plano.nombre}}" ng-if="true">
                    <i class="fa fa-download"></i>
                  </button>
                  <button md-effect type="button" class="btn btn-info btn-sm" uib-tooltip="Cambiar" ng-if="false" ng-click="$ctrl.cargarArchivo = true">
                    <i class="fa fa-exchange"></i>
                  </button>
                </div>
                <img src="./images/documento.jpg" alt="Documento">
                <div class="detalles">
                  <div class="nombre">Plano/Factor de forma: {{$ctrl.fotos.plano.nombre}}</div>
                </div> -->
              </div>
              <img ng-if="$ctrl.fotos.plano.nombre.indexOf('.pdf')<0" ng-src="data:image/jpg;base64, {{ $ctrl.fotos.plano.base64 }}" alt="Plano" ng-click="$ctrl.vistaImagen($ctrl.fotos.plano)">
            </div>
        </figure>
        <div ng-if="!$ctrl.fotos.plano.show && !$ctrl.archivado && !$ctrl.modoVista">
            <ui-input-file name="plano" label="Plano/Factor de Forma" file-base64="$ctrl.fotos.plano" upload-callback="$ctrl.fotos.uploadCallback"
                  types="pdf, jpg, png, jpeg" mime-types="image/*,.pdf" maxfiles="1" maxsize="3MB"></ui-input-file>
        </div>
    </section>
  </div>
</div>
