<section ng-init="$ctrl.proyecto.cronograma_desembolsos.$_plantilla=6; $ctrl.proyecto.cronograma_desembolsos.$_nombre='cronograma_desembolsos'">
  <h6 class="title-section m-top">
    <i class="fa fa-hand-o-right"></i> Registro de desembolsos / Cronograma {{$ctrl.proyecto.estado_proyecto}}
  </h6>
  <div class="row">
    <div class="md-input-group col-md-4">
      <c-input name="codigo_mefp" label="Categoría Programática" ng-model="$ctrl.proyecto.cronograma_desembolsos.categoria_programatica"
        ng-required="!$ctrl.modoVista && $ctrl.Proyecto.esRequerido('fecha_desembolso')"
        ng-disabled="$ctrl.modoVista || !$ctrl.Proyecto.esEditable('fecha_desembolso')" ng-if="$ctrl.proyecto.beneficiarios.tipo_financiamiento != 'OP_TF_MIXTA'">
      </c-input>

      <c-input name="codigo_mefp" label="Categoría Programática Pública" ng-model="$ctrl.proyecto.cronograma_desembolsos.categoria_programatica"
        ng-required="!$ctrl.modoVista && $ctrl.Proyecto.esRequerido('fecha_desembolso')"
        ng-disabled="$ctrl.modoVista || !$ctrl.Proyecto.esEditable('fecha_desembolso')" ng-if="$ctrl.proyecto.beneficiarios.tipo_financiamiento == 'OP_TF_MIXTA'">
      </c-input>
    </div>
    <div class="md-input-group col-md-4">
      <c-input name="codigo_sisin" label="Código SISIN" ng-model="$ctrl.proyecto.cronograma_desembolsos.codigo_sisin"
        ng-required="!$ctrl.modoVista && ($ctrl.proyecto.beneficiarios.tipo_financiamiento !== 'OP_TF_PRIVADA')"
        ng-disabled="$ctrl.modoVista || !$ctrl.Proyecto.esEditable('cod_sisin')">
      </c-input>
    </div>
  </div>
  <div class="row" ng-if="$ctrl.proyecto.beneficiarios.tipo_financiamiento == 'OP_TF_MIXTA'">
    <div class="md-input-group col-md-4">
      <c-input name="codigo_mefp2" label="Categoría Programática Privada" ng-model="$ctrl.proyecto.cronograma_desembolsos.categoria_programatica_2"
        ng-required="!$ctrl.modoVista && $ctrl.Proyecto.esRequerido('fecha_desembolso')"
        ng-disabled="$ctrl.modoVista || !$ctrl.Proyecto.esEditable('fecha_desembolso')">
      </c-input>
    </div>
    <div class="md-input-group col-md-4">

    </div>
  </div>
  <div class="row">
    <div class="md-input-group col-md-4">
      <c-date name="fecha_inscripcion" label="Fecha de inscripción presupuestaria"
              ng-model="$ctrl.proyecto.cronograma_desembolsos.fecha_inscripcion"
              ng-required="!$ctrl.modoVista && $ctrl.Proyecto.esRequerido('fecha_desembolso')"
              ng-disabled="$ctrl.modoVista || !$ctrl.Proyecto.esEditable('fecha_desembolso')"
              ng-change="$ctrl.selFechaInscripcion()"
              min-date="$ctrl.validacion.fec_min_inscripcion" mensaje-min-date="{{$ctrl.validacion.mensaje_fecminima}}">
      </c-date>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-6" ng-if="$ctrl.proyecto.doc_cert_presupuestaria || $ctrl.Proyecto.esEditable('doc_cert_presupuestaria')">
      <archivo name="doc_cert_presupuestaria" label="Certificado de Transferencia" ng-model="$ctrl.proyecto.doc_cert_presupuestaria"
              types="pdf" mime-types=".pdf" maxsize="3MB"
              url="{{$ctrl.archivo.urlDocCertificacion}}"
              url-descarga="{{$ctrl.archivo.urlDocCertificacionDescarga}}"
              cambiar="$ctrl.Proyecto.esEditable('doc_cert_presupuestaria')"
              modo-vista="!$ctrl.Proyecto.esEditable('doc_cert_presupuestaria')">
      </archivo>
    </div>
  </div>

  <div class="row">
    <div class="md-input-group col-md-4">
      <c-input-numeric name="porcentaje_1" label="1er Desembolso"
        ng-model="$ctrl.proyecto.cronograma_desembolsos.porcentaje_1"
        ng-minvalue="0" ng-maxvalue="100" ng-formatting="false" ng-decimals="2" ng-disabled="true">
      </c-input-numeric>
    </div>
    <div class="md-input-group col-md-4">
      <c-input-money name="monto_1" label="Monto"
        ng-model="$ctrl.proyecto.cronograma_desembolsos.monto_1"
        ng-minvalue="0" ng-disabled="true">
      </c-input-money>
    </div>
    <div class="md-input-group col-md-4">
      <c-date name="fecha_1" label="Fecha de desembolso"
              ng-model="$ctrl.proyecto.cronograma_desembolsos.fecha_1"
              ng-required="!$ctrl.modoVista && $ctrl.Proyecto.esRequerido('fecha_desembolso')"
              ng-disabled="$ctrl.modoVista || !$ctrl.Proyecto.esEditable('fecha_desembolso')"
              ng-change="$ctrl.selFechaDesembolso()"
              min-date-key="fecha_inscripcion" mensaje-min-date="{{$ctrl.validacion.mensaje_fecminima_desembolso1}}">
      </c-date>
    </div>
  </div>
  <div class="row">
    <div class="md-input-group col-md-4">
      <c-input-numeric name="porcentaje_2" label="2do Desembolso"
        ng-model="$ctrl.proyecto.cronograma_desembolsos.porcentaje_2"
        ng-minvalue="0" ng-maxvalue="100" ng-formatting="false" ng-decimals="2" ng-disabled="true">
      </c-input-numeric>
    </div>
    <div class="md-input-group col-md-4">
      <c-input-money name="monto_2" label="Monto"
        ng-model="$ctrl.proyecto.cronograma_desembolsos.monto_2"
        ng-minvalue="0" ng-disabled="true">
         <!-- ng-disabled="$ctrl.modoVista || !$ctrl.Proyecto.esEditable('fecha_desembolso') || !$ctrl.proyecto.beneficiarios.productivo.maquinaria"> -->
      </c-input-money>
    </div>
    <div class="md-input-group col-md-4" ng-if="($ctrl.Proyecto.esEditable('cronograma_desembolsos') && $ctrl.proyecto.estado_proyecto !== 'REGISTRO_DESEMBOLSO_FDI') || $ctrl.proyecto.cronograma_desembolsos.fecha_2">
      <c-date name="fecha_2" label="Fecha de desembolso"
              ng-model="$ctrl.proyecto.cronograma_desembolsos.fecha_2"
              ng-required="!$ctrl.modoVista && $ctrl.Proyecto.esRequerido('cronograma_desembolsos')"
              ng-disabled="$ctrl.modoVista || !$ctrl.Proyecto.esEditable('cronograma_desembolsos')"
              min-date-key="fecha_1" mensaje-min-date="{{$ctrl.validacion.mensaje_fecminima_desembolso2}}">
      </c-date>
    </div>
  </div>
  <div class="row" ng-if="$ctrl.proyecto.cronograma_desembolsos.porcentaje_3 || $ctrl.proyecto.cronograma_desembolsos.porcentaje_4">
    <div class="md-input-group col-md-4">
      <c-input-numeric name="porcentaje_3" label="3er Desembolso"
        ng-model="$ctrl.proyecto.cronograma_desembolsos.porcentaje_3"
        ng-minvalue="0" ng-maxvalue="100" ng-formatting="false" ng-decimals="2" ng-disabled="true">
      </c-input-numeric>
    </div>
    <div class="md-input-group col-md-4">
      <c-input-money name="monto_3" label="Monto"
        ng-model="$ctrl.proyecto.cronograma_desembolsos.monto_3"
        ng-minvalue="0" ng-disabled="$ctrl.modoVista || !$ctrl.Proyecto.esEditable('fecha_desembolso')"
        ng-keyup="$ctrl.recalcularPorcentaje()">
      </c-input-money>
    </div>
    <div class="md-input-group col-md-4" ng-if="($ctrl.Proyecto.esEditable('cronograma_desembolsos') && $ctrl.proyecto.estado_proyecto !== 'REGISTRO_DESEMBOLSO_FDI') || $ctrl.proyecto.cronograma_desembolsos.fecha_3">
      <c-date name="fecha_3" label="Fecha de desembolso"
              ng-model="$ctrl.proyecto.cronograma_desembolsos.fecha_3"
              ng-required="!$ctrl.modoVista && $ctrl.Proyecto.esRequerido('cronograma_desembolsos')"
              ng-disabled="$ctrl.modoVista || !$ctrl.Proyecto.esEditable('cronograma_desembolsos')"
              min-date-key="fecha_2" mensaje-min-date="{{$ctrl.validacion.mensaje_fecminima_desembolso2}}">
      </c-date>
    </div>
  </div>

  <div class="row" ng-if="$ctrl.proyecto.cronograma_desembolsos.porcentaje_4">
    <div class="md-input-group col-md-4">
      <c-input-numeric name="porcentaje_4" label="Saldo"
        ng-model="$ctrl.proyecto.cronograma_desembolsos.porcentaje_4"
        ng-minvalue="0" ng-maxvalue="100" ng-formatting="false" ng-decimals="2" ng-disabled="true">
      </c-input-numeric>
    </div>
    <div class="md-input-group col-md-4">
      <c-input-money name="monto_4" label="Monto"
        ng-model="$ctrl.proyecto.cronograma_desembolsos.monto_4"
        ng-minvalue="0" ng-disabled="true">
      </c-input-money>
    </div>
    <div class="md-input-group col-md-4">
    </div>
  </div>

</section>
